.g-date-picker-title {
  display: flex;
  flex-direction: column;
  line-height: 1;

  &__year {
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__date {
    font-size: 34px;
    text-align: left;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    padding-bottom: 8px;
    margin-bottom: -8px;
  }

  &--disabled {
    pointer-events: none;
  }
}
