@import 'var';

$highlightedItem: rgb(231, 215, 253);

.g-date-picker-table {
  position: relative;
  padding: 0 12px;
  height: 254px;

  table {
    transition: $primary-transition;
    top: 0;
    table-layout: fixed;
    width: 100%;
  }

  tr {
    height: 32px;
  }

  td, th {
    text-align: center;
    position: relative;
  }

  th {
    font-size: 12px;
  }

  button {
    background-color: transparent;
    border-style: none;
    color: inherit;
    box-shadow: none;
  }

  &--date .g-btn {
    height: 32px;
    width: 32px;
  }

  .g-btn {
    margin: 0;
    z-index: auto;
    font-size: 12px;
    background-color: transparent;
    border-style: none;
    color: inherit;

    &.g-btn--active {
      color: map-get($shades, 'white');
    }

    &--rounded {
      border-radius: 28px;
    }

    &--outlined {
      border: thin solid currentColor;
    }

    &--start-range {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        right: -3px;
        background-color: $highlightedItem;
        z-index: -1;
      }
    }

    &--end-range {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        left: -3px;
        background-color: $highlightedItem;
        z-index: -1;
      }
    }

    &--in-range {
      color: rgb(83, 83, 83) !important;
      background-color: $highlightedItem !important;
      border-radius: 0 !important;
      width: auto;
    }
  }

  &--disabled {
    pointer-events: none;
  }
}

.g-date-picker-table--date {

  table {
    padding-bottom: 8px;
  }

  th {
    padding: 8px 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.38);
  }

  td {
    width: 32px;
    height: 32px;
    padding: 2px 0;
  }

  & .g-date-picker-table__events {
    bottom: 6px;
  }
}

.g-date-picker-table--month {
  td {
    width: 33.333333%;
    height: 56px;
    vertical-align: middle;
    text-align: center;

    .g-btn {
      margin: 0 auto;
      max-width: 160px;
      min-width: 40px;
      width: 100%;
    }
  }
}

.g-date-picker-table__events {
  height: 8px;
  left: 0;
  position: absolute;
  text-align: center;
  white-space: pre;
  width: 100%;


  > div {
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 0 1px;
    width: 8px;
  }
}
