.tf-wrapper {
  display: flex;
  align-items: center;
  cursor: text;
  width: calc(100% - 10px);
  margin: 16px 5px 24px;
  position: relative;


}
.tf-wrapper__error {
  display: flex;
  align-items: center;
  cursor: text;
  width: calc(100% - 10px);
  margin: 16px 5px 24px;
  position: relative;
  color: red;


}

.tf-wrapper fieldset {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}


.tf {
  position: relative;
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.32);
  display: flex;
}

.tf::before {
  position: absolute;
  content: '';
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.87);
}

.tf::after {
  position: absolute;
  content: '';
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #1867c0;
  transform: scale(0);
  transition: 0.4s ease-out;
}
.tf__error {
  position: relative;
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.32);
  display: flex;
}

.tf__error::before {
  position: absolute;
  content: '';
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: rgba(192, 2, 19, 0.87);
}

.tf__error::after {
  position: absolute;
  content: '';
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #c00213;
  transform: scale(0);
  transition: 0.4s ease-out;
}
.tf:focus-within::after {
  height: 2px;
  transform: scale(1);
}
.tf__error:focus-within::after {
  height: 2px;
  transform: scale(1);
}


.tf-label {
  position: absolute;
  top: 8px;
  left: 0;
  transform-origin: top left;
  transition: 0.4s ease-out;
  pointer-events: none;
  color: #3f51b5;
}
.tf-label tf-label__disabled {
  @extend .tf-label;
  color: rgba(255, 255, 255, 0);
}
.inputGroup{
  position: relative;
  width: 100%;
}
.tf-input {
  width: 100%;
  padding: 5px 0;
  line-height: 24px;
  font-size: 16px;
}

.tf-affix{
  padding: 12px 0 0 8px;
  line-height: 24px;
  font-size: 16px;
}
.tf:focus-within::after {
  height: 2px;
  transform: scale(1);
}



.tf-label__active {
  transform: translateY(-18px) scale(0.75);
  background-color: white;
}

.tf-icon__active {
  flex: 0 0 4%;
}

.tf-prepend__outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf-append__outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf-prepend__inner,
.tf-append__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf-prepend__inner img,
.tf-prepend__outer img,
.tf-append__inner img,
.tf-append__outer img {
  height: 24px;
  width: 24px;
}

.tf-prepend__inner.tf-icon__active ~ .tf-label {
  left: 4%;
}

.tf-hint {
  position: absolute;
  bottom: -10px;
  opacity: 0;
  left: 24px;
  font-size: 12px;
  font-weight: 400;
  transition: 0.4s ease-out;
}
.tf-hint__active{
  opacity: 1;
  transform: translateY(8px);
}
.tf-error {
  position: absolute;
  bottom: -18px;
  left: 24px;
  font-size: 12px;
  font-weight: 400;
}

.tf-counter {
  position: absolute;
  bottom: -18px;
  right: 0;
  font-size: 12px;
  font-weight: 400;
}

.tf-wrapper.tf__solo .tf {
  border-radius: 4px;
  /*elevation 2*/
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.tf__solo .tf::before,
.tf__solo .tf::after,
.tf__solo .tf-label {
  display: none;
}

.tf__solo .tf-input {
  padding: 8px;
  border-radius: 4px;
}

.tf__solo .tf-hint {
  left: 4px;
}

.tf__filled .tf {
  background-color: rgba(0, 0, 0, 0.06);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tf__filled .tf-input{
  background-color: transparent;
  border: inherit;
  padding: 12px 8px 4px;
  line-height: 32px;
  vertical-align: bottom;
}

.tf__filled .tf-label {
  left: 4px;
  top: 16px;
}

.tf__filled .tf-prepend__inner.tf-icon__active ~ .tf-label {
  left: calc(4% + 4px);
}

.tf__filled .tf-input:focus + .tf-label,
.tf__filled .tf-input:placeholder-shown + .tf-label {
  transform: translateY(-16px) scale(0.75);
  color: #1867c0;
}

.tf__filled .tf-label__active {
  transform: translateY(-16px) scale(0.75);
  background-color: transparent;
}
.tf__filled .tf-affix{
  line-height: 32px;
}
.tf-wrapper.tf__outlined fieldset {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  padding: 0 8px;
  transition: 0.2s ease-in;
  width: 100%;
}

.tf-wrapper.tf__outlined legend {
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  font-size: 0.75em;
  transform-origin: top left;
  padding: 2px 0;
  transition: 0.8s cubic-bezier(.44, .88, .37, .28);
}

.tf__outlined .tf::before,
.tf__outlined .tf::after {
  display: none;
}

.tf__outlined:focus-within fieldset {
  border: 2px solid #1867c0;
}

.tf__outlined:focus-within legend {
  width: auto;
}

.tf__outlined .tf-label {
  top: 9px;
}

.tf__outlined .tf-prepend__inner.tf-icon__active ~ .tf-label {
  left: calc(4% + 8px);
}

.tf__outlined .tf-prepend__inner.tf-icon__active ~ .tf-label__active {
  left: 0;
}

.tf__outlined:focus-within .tf-prepend__inner.tf-icon__active ~ .tf-label {
  left: 0;
}

.tf__outlined .tf-input {
  border-radius: inherit;
}

.tf__solo.tf__rounded .tf,
.tf__outlined.tf__rounded .tf,
.tf__filled.tf__rounded .tf {
  border-radius: 9999px;
}

.tf__solo.tf__rounded .tf-input {
  margin: 0 16px;
}

.tf__filled.tf__rounded .tf::before,
.tf__filled.tf__rounded .tf::after {
  display: none;
}

.tf__outlined.tf__rounded fieldset {
  border-radius: 9999px;
}

.tf__filled.tf__rounded .tf-label {
  left: 16px;
}
.tf__outlined.tf__rounded .tf-label {
  left: 8px;
}
.tf__outlined.tf__rounded:focus-within .tf-label {
  left: 8px;
}
.tf__filled.tf__rounded .tf-input {
  padding-left: 16px;
}
.tf__outlined.tf__rounded .tf-input {
  padding-left: 8px;
}

.tf__solo.tf__rounded .tf-prepend__outer.tf-icon__active ~ .tf-hint,
.tf__outlined.tf__rounded .tf-prepend__outer.tf-icon__active ~ .tf-hint,
.tf__filled.tf__rounded .tf-prepend__outer.tf-icon__active ~ .tf-hint {
  left: calc(4% + 16px);
}

.tf__solo.tf__shaped .tf,
.tf__outlined.tf__shaped .tf,
.tf__filled.tf__shaped .tf {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.tf__solo.tf__shaped .tf-input {
  margin: 0 16px;
}

.tf__filled.tf__shaped .tf::before,
.tf__filled.tf__shaped .tf::after {
  display: none;
}

.tf__outlined.tf__shaped fieldset {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.tf__filled.tf__shaped .tf-label {
  left: 16px;
}
.tf__outlined.tf__shaped .tf-label {
  left: 8px;
}
.tf__outlined.tf__shaped:focus-within .tf-label {
  left: 8px;
}
.tf__filled.tf__shaped .tf-input {
  padding-left: 16px;
}
.tf__outlined.tf__shaped .tf-input {
  padding-left: 8px;
}

.tf__solo.tf__shaped .tf-prepend__outer.tf-icon__active ~ .tf-hint,
.tf__outlined.tf__shaped .tf-prepend__outer.tf-icon__active ~ .tf-hint,
.tf__filled.tf__shaped .tf-prepend__outer.tf-icon__active ~ .tf-hint {
  left: calc(4% + 16px);
}

.tf-wrapper.tf__solo.tf__outlined legend {
  width: 0 ;
}
.tf-wrapper.tf__solo.tf__outlined .tf {
  box-shadow: none;
}
.tf-wrapper.tf__solo.tf__outlined {
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.tf-wrapper.tf__solo.tf__flat .tf{
  border: none;
  box-shadow: none;
}
.tf-wrapper-disabled {
  opacity: 0.85;
  pointer-events: none;
}
.tf-wrapper-readonly {
  pointer-events: none;
}
input[type=password] {
  outline: none;
  border: transparent;
  font-family: "Muli", sans-serif;
}
.bs-tf-wrapper {
  display: block;
  cursor: text;
  width: calc(100% - 10px);
  margin: 4px 5px 8px;
}

.bs-tf-label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
}

.bs-tf-input-group,
.bs-tf-input-prepend,
.bs-tf-input-append {
  display: flex;
}

.bs-tf-input-prepend,
.bs-tf-input-prepend > *:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.bs-tf-input-prepend > * {
  border-right: none !important;
}

.bs-tf-input-append > * {
  border-left: none !important;
  z-index: -1; /*display under input box shadow*/
}

.bs-tf-input-append,
.bs-tf-input-append > *:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bs-tf-input-text {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #495057;
  background-color: #e9ecef;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #ced4da;
}

.bs-tf-input {
  display: block;
  flex: 1 1 auto;
  padding: 6px 12px;
  line-height: 1.5;
  font-size: 16px;
  border: 1px solid #ced4da !important;
  background-color: #fff;
  background-clip: padding-box;
  color: #495057;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.bs-tf-input:focus {
  outline: 0;
  border-color: #80bdff !important;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.bs-tf-message {
  display: block;
  font-size: 80%;
  font-weight: 400;
  margin-top: 2px;
  color: #6c757d;
}
