.menu {
  display: inline;
  position: relative;

  &-content {
    z-index: $z-index-menu;
    position: absolute;
    display: inline-block;
    max-width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    contain: content;
    @include elevation(2);
  }
}
