@import "./variables";

.g-chip {
  border-color: rgba(map-get($shades, 'black'), 0.12);
  align-items: center;
  cursor: default;
  display: inline-flex;
  line-height: 20px;
  max-width: 100%;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-decoration: none;
  transition-duration: $chip-transition-duration;
  transition-property: box-shadow, opacity;
  transition-timing-function: $chip-transition-fn;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 400;

  .g-avatar {
    height: $chip-avatar-size;
    min-width: $chip-avatar-size;
    width: $chip-avatar-size;
    position: relative;

    .g-icon {
      z-index: 5;
      margin-left: -1px;
      margin-top: 5px;
      color: #ffffff;
    }

    .g-overlay {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -4px;
      right: 0;
      transition: .3s ease;
      background-color: rgba(0, 0, 0, 0.4);

      .g-icon {
        margin-left: 3px;
        margin-top: 3px;
      }
    }
  }

  ////TODO: Icon not yet defined
  //.g-icon {
  //  font-size: $chip-icon-size;
  //}

  //Avatar, icons
  .g-avatar,
  .g-icon {
    font-size: $chip-close-size;
    user-select: none;

    &__left {
      position: relative;
      margin-left: $chip-icon-margin-before;
      margin-right: 3px;
    }

    &__right {
      position: relative;
      margin-left: $chip-icon-margin-after;
      margin-right: $chip-icon-margin-before;
      height: $chip-close-size;
    }
  }

  .g-chip-content {
    align-items: center;
    display: inline-flex;
    height: 100%;
    max-width: 100%;
  }

  // Close
  &.g-chip__close .g-icon {
    font-size: $chip-close-size;
    max-height: $chip-close-size;
    max-width: $chip-close-size;
    user-select: none;

    &.g-icon__right {
      margin-right: $chip-icon-right-margin-after;
    }

    &.g-icon__left {
      margin-right: $chip-icon-right-margin-before;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: .72
    }
  }


}

//Label
.g-chip-label {
  border-radius: $chip-label-border-radius !important;
}

//Outlined
.g-chip.g-chip__outlined {
  border-width: $icon-outlined-border-width;
  border-style: solid;

  &:not(g-chip__active):before {
    opacity: 0;
  }

  &.g-chip__active:before {
    opacity: 0.08;
  }

  &.g-icon {
    color: inherit;
    font-size: $chip-close-size;
    max-height: $chip-close-size;
    max-width: $chip-close-size;
    user-select: none;

    // Needs increased specificity
    &.g-chip.g-chip {
      background-color: transparent !important;
    }
  }
}


// Needs increased specificity
// to overwrite theme color
.g-chip.g-chip__selected {
  background: transparent;

  &:after {
    opacity: .28;
  }
}

//Clickable
.g-chip__clickable {
  cursor: pointer;

  &:active {
    @include elevation(2);
  }
}

//Disabled
.g-chip__disabled {
  opacity: .4;
  pointer-events: none;
  user-select: none;
}

//Label
.g-chip__label {
  border-radius: $chip-label-border-radius !important;
}

//Pill
.g-chip__pill {
  .g-chip__filter {
    margin-right: $chip-pill-filter-margin;
  }

  .g-avatar {
    height: $chip-pill-avatar-size !important;
    width: $chip-pill-avatar-size !important;
  }

  .g-avatar {
    position: absolute;

    &__left {
      position: relative;
      margin-left: $chip-pill-avatar-margin-before;
    }

    .g-overlay {
      width: 32px !important;
      height: 32px !important;
      margin: 2px 0 0 0 !important;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -6px;
      right: 0;
      transition: .3s ease;
      background-color: rgba(0, 0, 0, 0.4);

      .g-icon {
        z-index: 5;
        user-select: none;
        font-size: 18px !important;
        margin-left: 7px !important;
        margin-top: 7px !important;
      }

    }
  }
}

//Filter
.g-chip__filter {
  .g-icon {
    //font-size: $chip-close-size;
    max-height: $chip-close-size;
    max-width: $chip-close-size;
    user-select: none;
    color: inherit;
  }

  &.expand-x-transition-leave-active,
  &.expand-x-transition-enter {
    margin: 0
  }
}

.g-avatar-size__large {
  .g-icon {
    font-size: 35px;
  }
}

.g-chip {
  @each $name, $size in $icon-sizes {
    &.g-size__#{$name} {
      border-radius: #{map-get($size, 'height') / 2}px;
      font-size: #{map-get($size, 'font-size')}px;
      height: #{map-get($size, 'height')}px;
    }
  }

  &.g-avatar-size__large {
    & .g-avatar, & .g-overlay {
      width: 33px;
      height: 33px;
      min-width: 33px;
    }

    & .g-avatar {
      margin: 2px 8px 5px 0;

      & .g-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
        margin: 4px 0 0 2px;
      }
    }

    & .g-overlay {
      margin: 2px 0 0 4px;

      & .g-icon {
        margin: 5px 0 0 5px;
        font-size: 24px;
        position: absolute;
      }
    }
  }

  &.g-avatar-size__small {
    & .g-avatar, & .g-overlay {
      width: 18px;
      height: 18px;
      min-width: 18px;
    }

    & .g-avatar {
      margin: 1.5px 2px 5px -4px;

      & .g-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        margin: 2px 0 0 -4px;
      }
    }

    & .g-overlay {
      margin: 2px 0 0 0;

      & .g-icon {
        margin: 1px 0 0 1px;
        font-size: 15px;
        position: absolute;
      }
    }
  }

  &.g-avatar-size__default {
    & .g-avatar, & .g-overlay {
      width: 24px;
      height: 24px;
      min-width: 24px;
    }

    & .g-avatar {
      margin: 1.5px 2px 5px -4px;
    }

    & .g-overlay {
      margin: 2px 0 0 0;

      & .g-icon {
        margin: 2px 0 0 2px;
        font-size: 20px;
        position: absolute;
      }
    }
  }

  &.g-avatar-size__x-large {
    & .g-avatar, & .g-overlay {
      width: 40px;
      height: 40px;
    }

    & .g-avatar {
      margin: 2px 8px 5px 1px;

      & .g-icon {
        font-size: 37px;
        width: 40px;
        height: 40px;
        margin: 4px 0 0 2px;
        top: -1px;
      }
    }

    & .g-overlay {
      margin: 2px 0 0 5px;

      & .g-icon {
        margin: 6px 0 0 6px;
        font-size: 30px;
        position: absolute;
      }
    }
  }

  &.g-avatar-size__x-small {
    & .g-avatar, & .g-overlay {
      width: 12px;
      height: 12px;
      min-width: 12px;
    }

    & .g-avatar {
      margin: 0 2px 5px -4px;

      & .g-icon {
        font-size: 10px;
        width: 10px;
        height: 10px;
        margin: 0 0 0 -3px;
        top: -3px;
      }
    }

    & .g-overlay {
      margin: 2px 0 0 0;

      & .g-icon {
        margin: 1px 0 0 1px;
        font-size: 10px;
        position: absolute;
      }
    }

  }
}
