.g-image {
  z-index: 1;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #cccccc;
}

.g-placeholder {
  z-index: 0;
  position: absolute;
}
