.g-container {
  position: relative;
}

.g-padding {
}

.g-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #cccccc;
  position: absolute;
}

.g-placeholder {
  position: absolute;
}
