@import "../../style/elevation";

.g-stepper {
  display: flex;
  flex-direction: column;
  @include elevation(2);

  :deep &-header {
    display: flex;
    @include elevation(2);
  }

  :deep &-step {
    white-space: nowrap;
    padding: 16px;
    display: flex;
    flex-shrink: 0;
    pointer-events: none;
    cursor: default;

    &-icon {
      color: white;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.38);
    }

    &__error {
      color: red;
    }
  }

  :deep &-contents {
    contain: layout;
    padding: 16px;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }

  :deep &-content {
    margin: 16px;
  }

  &__editable {
    :deep .g-stepper-step {
      pointer-events: initial;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }

  &__vertical {
    flex-direction: row;

    :deep .g-stepper-header {
      flex-direction: column;
      flex: 0 1 0;
    }

    :deep .g-stepper-contents {
      padding: 0;
    }
  }

  &__alt-labels {
    :deep .g-stepper-step {
      flex-direction: column;
      align-items: center;
    }
  }
}
