.g-stepper {
  display: flex;
  flex-direction: column;
  @include elevation(2);

  &-header {
    display: flex;
    @include elevation(2);
  }

  &-step {
    white-space: nowrap;
    padding: 16px;
    display: flex;
    flex-shrink: 0;
    pointer-events: none;
    cursor: default;

    &-icon {
      color: white;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.38);
    }

    &__error {
      color: red;
    }
  }

  &-contents {
    contain: layout;
  }

  &-content {
    margin: 16px;
  }

  &__editable {
    .g-stepper-step {
      pointer-events: initial;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }

  &__vertical {
    flex-direction: row;

    .g-stepper-header {
      flex-direction: column;
      flex: 0 1 0;
    }
  }

  &__alt-labels {
    .g-stepper-step {
      flex-direction: column;
      align-items: center;
    }
  }
}

.g-stepper-transition {
  &-enter {
    transform: translateX(100%);
  }

  &-enter-active {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
  }

  &-leave {
    opacity: 1;
  }

  &-leave-to {
    opacity: 0;
    transform: translateX(-100%);
  }

  &-leave-active {
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    position: absolute;
  }
}