table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  vertical-align: center;
  padding: 0.25rem;
}

td {
  font-weight: normal;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.table-striped tr:nth-child(even) {
  background-color: #eeeeee;
}

.table-striped tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-striped > div:nth-child(even) {
  background-color: #eeeeee;
}

.table-striped > div:nth-child(odd) {
  background-color: #ffffff;
}

.table-bordered td,
.table-bordered th {
  border: 0.05rem solid #d6d6d6;
}