$data-table-scroll-bar-width: 17px !default;
$data-table-regular-row-height: 48px !default;
$data-table-regular-header-height: 48px !default;
$data-table-dense-row-height: 24px !default;
$data-table-dense-header-height: 32px !default;

.g-table {
  background-color: #FFFFFF;

  :deep(colgroup) {
    .divider {
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  &.g-table__fixed-header {
    :deep(thead th) {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);
    }
  }


  :deep(thead) {
    tr {
      &:last-child th {
        border-bottom-color: rgba(0, 0, 0, 0.12)
      }

      th {
        text-align: left;
        border: 1px solid transparent;
      }
    }
  }

  &:not(.g-table__bordered) {
    th:not(:last-child) {
      border-right-width: 0;
    }

    th:not(:first-child) {
      border-left-width: 0;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
  }

  :deep(td), :deep(th) {
    padding: 0 16px;
  }

  :deep(th) {
    user-select: none;
    font-size: 14px;
    height: $data-table-regular-header-height;
  }

  :deep(td) {
    font-size: 14px;
    height: $data-table-regular-row-height;
  }

  .g-table-row__active {
    :deep(td) {
      border-bottom: 1px solid #1271ff;
      border-top: 1px solid #1271ff;

      &:first-child {
        border-left: 1px solid #1271ff;
        padding-left: 15px;
      }

      &:last-child {
        border-right: 1px solid #1271ff;
        padding-right: 15px;
      }
    }
  }
}

// Elements
.g-table__wrapper {
  overflow: auto;
  height: 100%;
}

.g-table__fixed-header {
  height: 100%;

  .g-table__wrapper {
    overflow-y: auto;
  }

  :deep(thead) {
    th {
      border-bottom: 0 !important;
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: white;
    }

    tr:nth-child(2) {
      th {
        top: $data-table-regular-header-height
      }
    }

  }
}

.g-table__striped {
  :deep tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.g-table__hover {
  :deep(tbody) {
    tr {
      &:hover {
        background: rgba(176, 190, 197, 0.1);
      }
    }
  }
}

.g-table__bordered {
  .g-table__wrapper {
    table {
      border-collapse: collapse;
    }

    :deep(th), :deep(td) {
      border: 0.5px solid #dee2e6;
    }

    .g-table-row__active td {
      border-color: #1271ff;
    }
  }

}

// Modifiers
.g-table__dense {
  :deep(td) {
    height: $data-table-dense-row-height
  }

  :deep(th) {
    height: $data-table-dense-header-height
  }
}

.g-table__fixed.g-table__dense {
  :deep(thead) {
    tr:nth-child(2) {
      th {
        top: $data-table-dense-header-height
      }
    }
  }
}

.g-table__border--by-row {
  .g-table__wrapper {
    border: 1px solid #dee2e6;
    border-bottom: none;
  }

  :deep(th), :deep(td) {
    border-bottom: 1px solid #dee2e6;
  }

  .g-table-row__active td {
    border-bottom-color: #1271ff;
  }
}

.g-table__selectable {
  :deep(th), :deep(td) {
    cursor: pointer;
  }
}
