.g-color-picker {
  &__color-field {
    position: relative;

    &__ground {
      border: 1px solid #0006;
      border-radius: 5px;
      z-index: 1;
    }

    &__dot {
      position: absolute;
      width: 10px;
      height: 10px;
      background: transparent;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 0 1.5px rgba(255, 255, 255, 1), inset 0 0 1px 1.5px rgba(0, 0, 0, 0.3);
      pointer-events: none;
    }
  }
}
