@mixin transition-default() {
  &-enter-active,
  &-leave-active {
    transition: $primary-transition;
  }

  &-move {
    transition: transform .6s;
  }
}

  // Component specific transitions
.carousel-transition {
  &-enter-from {
    transform: translate(100%, 0);
  }

  &-leave-from, &-leave-to {
    position: absolute;
    top: 0;
    transform: translate(-100%, 0);
  }
}

.carousel-reverse-transition {
  &-enter-from {
    transform: translate(-100%, 0);
  }

  &-leave-from, &-leave-to {
    position: absolute;
    top: 0;
    transform: translate(100%, 0);
  }
}

.dialog-transition {
  &-enter-from, &-leave-to {
    transform: scale(0.5);
    opacity: 0;
  }

  &-enter-to, &-leave-from {
    opacity: 1;
  }
}

.dialog-bottom-transition {
  &-enter-from, &-leave-to {
    transform: translateY(100%);
  }
}

.picker-transition,
.picker-reverse-transition {
  &-enter-active,
  &-leave-active {
    transition: .3s map-get($transition, 'linear-out-slow-in');
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-leave-from,
  &-leave-active,
  &-leave-to {
    position: absolute !important;
  }
}

.picker-transition {
  &-enter-from {
    transform: translate(0, 100%);
  }

  &-leave-to {
    transform: translate(0, -100%);
  }
}

.picker-reverse-transition {
  &-enter-from {
    transform: translate(0, -100%);
  }

  &-leave-to {
    transform: translate(0, 100%);
  }
}

.picker-title-transition {
  &-enter-to,
  &-leave-from {
    transform: translate(0, 0);
  }

  &-enter-from {
    transform: translate(-100%, 0);
  }

  &-leave-to {
    opacity: 0;
    transform: translate(100%, 0);
  }

  &-leave-from,
  &-leave-to,
  &-leave-active {
    position: absolute !important;
  }
}

.tab-transition {
  &-enter-from {
    transform: translate(100%, 0);
  }

  &-leave-from, &-leave-active {
    position: absolute;
    top: 0;
  }

  &-leave-to {
    position: absolute;
    transform: translate(-100%, 0);
  }
}

.tab-reverse-transition {
  &-enter-from {
    transform: translate(-100%, 0);
  }

  &-leave-from, &-leave-to {
    top: 0;
    position: absolute;
    transform: translate(100%, 0);
  }
}

// Generic transitions
.expand-transition {
  @include transition-default();
}

.expand-x-transition {
  @include transition-default();
}

.scale-transition {
  @include transition-default();

  &-enter-from, &-leave-from, &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
}

.message-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }

  &-leave-from, &-leave-active {
    position: absolute;
  }
}

.fab-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    transform: scale(0) rotate(-45deg);
  }
}
