.header {
  //min-height: 40px;
  height: 100% !important;

  font-family: Muli;
  font-style: normal;
  text-align: right;
  color: #FFFFFF;

  .time {
    font-weight: 100;
    font-size: 13px;
    line-height: 16px;
  }

  .user {
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
  }

  ::v-deep .g-toolbar-content {
    padding: 1.28% 1.28% 1.28% 2.56%;
    height: 100% !important;
  }

  ::v-deep .g-toolbar-background {
    height: 100% !important;

    div {
      height: 100% !important;
    }
  }
}

.sidebar {
  height: 100%;

  &::v-deep .g-sidebar {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  ul::v-deep {
    .g-treeview-item {
      margin-right: 0;
    }

    .g-treeview__active {
      background: linear-gradient(11.17deg, #303F9F 0%, #1976D2 100%) !important;
      color: white;

      .g-icon {
        color: inherit;
      }
    }

    .g-treeview-icon {
      margin: 17.25px 18px 15.75px 22.25px;
    }

    .g-treeview-icon__small {
      margin: 20px 23px 20px 28px;
    }
  }

  .footer {
    height: 53px;
    width: 243px;
    display: flex;
    align-items: center;
    border-top: 2px solid #F2F2F2;
  }
}

.content {
  background: #F2F2F2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.welcome {
  align-self: center;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: #424242;
}

.line {
  align-self: center;
  height: 1px;
  background-color: #E0E0E0;
}

.btn {
  width: 100%;
}

.btn-text {
  font-size: 16px;
  letter-spacing: 0;
  color: #424242;
  margin-top: 20px;
}

h6 {
  color: white;
  padding-left: 10px;
}

body {
  margin: 0;
}

.elevation-4 {
  box-shadow: 2px 0 0px -1px rgba(0, 0, 0, 0.2), 1px 0 2px 0px rgba(0, 0, 0, 0.14), 2px 0 5px 0px rgba(0, 0, 0, 0.12);
}