.g-tabs-wrapper {
  align-items: center;
}

.g-tab-items {
  margin: 20px calc(50% - 260px/2);
  width: 300px;
}

.g-list {
  padding: 0;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

.g-list-item-content {
  margin-left: 0;
  align-self: flex-start;
}

.g-list-item-action {
  margin: 0 0 0 16px;
  align-self: flex-start;
}

.g-list-item {
  padding: 18px 26px 18px 26px;
}

.g-list-header {
  padding: 0 0 0 26px;
  font-family: "Muli" , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #1D1D26;
  background: #D8D8D8;
  border-radius: 3px 3px 0 0;
  align-items: center;
}