.g-color-picker {
  &__pallet {
    height: 24px;
    display: flex;
    margin-top: 2px;

    //&__item {
    //  border: 1px solid #0003;
    //  margin: 0px;
    //  width: 20px;
    //  height: 20px;
    //  display: inline-block;
    //
    //  &:hover {
    //    cursor: pointer;
    //    border-width: 2px;
    //    border-color: #78909c;
    //  }
    //}
  }
}
