@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:200,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

@media (min-height: 900px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
body {
  font-weight: 600;
  font-family: "Muli", sans-serif;
  color: #1d1d1d;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

p {
  margin: 0;
}

.hidden {
  display: none !important;
}

.transparent {
  visibility: hidden !important;
}

.vertical-body-responsive-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.92);
}

.rotation-wrapper {
  position: absolute;
  top: 0;
  left: -100vh;
  z-index: 2;
  height: 100vw;
  width: 100vh;
  background: rgba(0, 0, 0, 0.92);
  transform: rotate(-90deg);
  transform-origin: top right;
}

.r {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.ff-muli {
  font-family: "Muli", sans-serif;
}

.ff-montserrat {
  font-family: "Montserrat", sans-serif;
}

.fs-normal {
  font-size: 1rem;
}

.fs-large {
  font-size: 1.125rem;
}

.fs-large-2 {
  font-size: 1.25rem;
}

.fs-large-3 {
  font-size: 1.375rem;
}

.fs-small {
  font-size: 0.875rem;
}

.fs-small-2 {
  font-size: 0.75rem;
}

.fs-small-3 {
  font-size: 0.625rem;
}

.fs-small-4 {
  font-size: 0.5rem;
}

.fw-200 {
  font-weight: 200;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.i {
  font-style: italic;
}

.transparent {
  color: transparent;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.gray {
  color: rgba(151, 151, 151, 0.3);
}

.gray-1 {
  color: #979797;
}

.dgray-1 {
  color: #393939;
}

.dgray-2 {
  color: #1d1d26;
}

.dgray-3 {
  color: #1d1d1d;
}

.dgray-4 {
  color: #8191a8;
}

.dgray-5 {
  color: #cecece;
}

.dgray-6 {
  color: rgba(9, 9, 9, 0.2);
}

.dgray-7 {
  color: rgba(9, 9, 9, 0.5);
}

.dgray-8 {
  color: #c4c4c4;
}

.dgray-9 {
  color: #e4e4e4;
}

.lgray-1 {
  color: #dce1e6;
}

.lgray-2 {
  color: #eef1f7;
}

.lgray-3 {
  color: #d6d6d6;
}

.lgray-4 {
  color: #a1a1a1;
}

.lgray-5 {
  color: #eeeeee;
}

.lgray-6 {
  color: #f0f0f0;
}

.lgray-7 {
  color: #ebeff0;
}

.lgray-8 {
  color: #717171;
}

.lgray-9 {
  color: #e0e3e5;
}

.red-1 {
  color: #ff4452;
}

.red-2 {
  color: #ffd3d5;
}

.red-3 {
  color: #ff0242;
}

.red-4 {
  color: #ff264a;
}

.red-5 {
  color: #fff4f4;
}

.orange-1 {
  color: #fbb148;
}

.orange-2 {
  color: #ffe7a7;
}

.orange-3 {
  color: #fb755c;
}

.orange-4 {
  color: #ffb002;
}

.orange-5 {
  color: #f9b524;
}

.green-1 {
  color: #6fff4f;
}

.green-2 {
  color: #97e544;
}

.green-3 {
  color: #b5ec7a;
}

.green-4 {
  color: #b5ff6a;
}

.green-5 {
  color: #7ed321;
}

.green-6 {
  color: #4d9700;
}

.pink-1 {
  color: #ff87e9;
}

.cyan-1 {
  color: #73f8f8;
}

.cyan-2 {
  color: #95ffef;
}

.blue-1 {
  color: #9ddaff;
}

.blue-2 {
  color: #2f1ac3;
}

.blue-3 {
  color: #007ff0;
}

.blue-4 {
  color: #6c57ff;
}

.blue-5 {
  color: #348fcb;
}

.blue-6 {
  color: #3900cb;
}

.blue-7 {
  color: #046eff;
}

.blue-8 {
  color: #92beff;
}

.blue-9 {
  color: #39475a;
}

.purple-1 {
  color: #d8c6ff;
}

.purple-2 {
  color: #b620e0;
}

.purple-3 {
  color: #c700e8;
}

.brown {
  color: rgba(216, 216, 216, 0.3);
}

.bg-transparent {
  background-color: transparent;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: rgba(151, 151, 151, 0.3);
}

.bg-gray-1 {
  background-color: #979797;
}

.bg-dgray-1 {
  background-color: #393939;
}

.bg-dgray-2 {
  background-color: #1d1d26;
}

.bg-dgray-3 {
  background-color: #1d1d1d;
}

.bg-dgray-4 {
  background-color: #8191a8;
}

.bg-dgray-5 {
  background-color: #cecece;
}

.bg-dgray-6 {
  background-color: rgba(9, 9, 9, 0.2);
}

.bg-dgray-7 {
  background-color: rgba(9, 9, 9, 0.5);
}

.bg-dgray-8 {
  background-color: #c4c4c4;
}

.bg-dgray-9 {
  background-color: #e4e4e4;
}

.bg-lgray-1 {
  background-color: #dce1e6;
}

.bg-lgray-2 {
  background-color: #eef1f7;
}

.bg-lgray-3 {
  background-color: #d6d6d6;
}

.bg-lgray-4 {
  background-color: #a1a1a1;
}

.bg-lgray-5 {
  background-color: #eeeeee;
}

.bg-lgray-6 {
  background-color: #f0f0f0;
}

.bg-lgray-7 {
  background-color: #ebeff0;
}

.bg-lgray-8 {
  background-color: #717171;
}

.bg-lgray-9 {
  background-color: #e0e3e5;
}

.bg-red-1 {
  background-color: #ff4452;
}

.bg-red-2 {
  background-color: #ffd3d5;
}

.bg-red-3 {
  background-color: #ff0242;
}

.bg-red-4 {
  background-color: #ff264a;
}

.bg-red-5 {
  background-color: #fff4f4;
}

.bg-orange-1 {
  background-color: #fbb148;
}

.bg-orange-2 {
  background-color: #ffe7a7;
}

.bg-orange-3 {
  background-color: #fb755c;
}

.bg-orange-4 {
  background-color: #ffb002;
}

.bg-orange-5 {
  background-color: #f9b524;
}

.bg-green-1 {
  background-color: #6fff4f;
}

.bg-green-2 {
  background-color: #97e544;
}

.bg-green-3 {
  background-color: #b5ec7a;
}

.bg-green-4 {
  background-color: #b5ff6a;
}

.bg-green-5 {
  background-color: #7ed321;
}

.bg-green-6 {
  background-color: #4d9700;
}

.bg-pink-1 {
  background-color: #ff87e9;
}

.bg-cyan-1 {
  background-color: #73f8f8;
}

.bg-cyan-2 {
  background-color: #95ffef;
}

.bg-blue-1 {
  background-color: #9ddaff;
}

.bg-blue-2 {
  background-color: #2f1ac3;
}

.bg-blue-3 {
  background-color: #007ff0;
}

.bg-blue-4 {
  background-color: #6c57ff;
}

.bg-blue-5 {
  background-color: #348fcb;
}

.bg-blue-6 {
  background-color: #3900cb;
}

.bg-blue-7 {
  background-color: #046eff;
}

.bg-blue-8 {
  background-color: #92beff;
}

.bg-blue-9 {
  background-color: #39475a;
}

.bg-purple-1 {
  background-color: #d8c6ff;
}

.bg-purple-2 {
  background-color: #b620e0;
}

.bg-purple-3 {
  background-color: #c700e8;
}

.bg-brown {
  background-color: rgba(216, 216, 216, 0.3);
}

.bgc-border {
  background-clip: border-box;
}

.bgc-padding {
  background-clip: padding-box;
}

.bgc-content {
  background-clip: content-box;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.pa-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pa-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pa-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pa-3 {
  padding: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pl-3 {
  padding-left: 1rem;
}

.pa-4 {
  padding: 1.5rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.pa-5 {
  padding: 2rem;
}

.pt-5 {
  padding-top: 2rem;
}

.pb-5 {
  padding-bottom: 2rem;
}

.pr-5 {
  padding-right: 2rem;
}

.pl-5 {
  padding-left: 2rem;
}

.p-auto {
  padding: auto;
}

.ma-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.ma-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ma-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ma-3 {
  margin: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.ma-4 {
  margin: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.ma-5 {
  margin: 2rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.mr-5 {
  margin-right: 2rem;
}

.ml-5 {
  margin-left: 2rem;
}

.m-auto {
  margin: auto;
}

.br-0 {
  border-radius: 0;
}

.btlr-0 {
  border-top-left-radius: 0;
}

.btrr-0 {
  border-top-right-radius: 0;
}

.bblr-0 {
  border-bottom-left-radius: 0;
}

.bbrr-0 {
  border-bottom-right-radius: 0;
}

.br-1 {
  border-radius: 0.125rem;
}

.btlr-1 {
  border-top-left-radius: 0.125rem;
}

.btrr-1 {
  border-top-right-radius: 0.125rem;
}

.bblr-1 {
  border-bottom-left-radius: 0.125rem;
}

.bbrr-1 {
  border-bottom-right-radius: 0.125rem;
}

.br-2 {
  border-radius: 0.25rem;
}

.btlr-2 {
  border-top-left-radius: 0.25rem;
}

.btrr-2 {
  border-top-right-radius: 0.25rem;
}

.bblr-2 {
  border-bottom-left-radius: 0.25rem;
}

.bbrr-2 {
  border-bottom-right-radius: 0.25rem;
}

.br-3 {
  border-radius: 0.5rem;
}

.btlr-3 {
  border-top-left-radius: 0.5rem;
}

.btrr-3 {
  border-top-right-radius: 0.5rem;
}

.bblr-3 {
  border-bottom-left-radius: 0.5rem;
}

.bbrr-3 {
  border-bottom-right-radius: 0.5rem;
}

.br-4 {
  border-radius: 1rem;
}

.btlr-4 {
  border-top-left-radius: 1rem;
}

.btrr-4 {
  border-top-right-radius: 1rem;
}

.bblr-4 {
  border-bottom-left-radius: 1rem;
}

.bbrr-4 {
  border-bottom-right-radius: 1rem;
}

.br-5 {
  border-radius: 2rem;
}

.btlr-5 {
  border-top-left-radius: 2rem;
}

.btrr-5 {
  border-top-right-radius: 2rem;
}

.bblr-5 {
  border-bottom-left-radius: 2rem;
}

.bbrr-5 {
  border-bottom-right-radius: 2rem;
}

.br-thin {
  border-radius: 0.05rem;
}

.btlr-thin {
  border-top-left-radius: 0.05rem;
}

.btrr-thin {
  border-top-right-radius: 0.05rem;
}

.bblr-thin {
  border-bottom-left-radius: 0.05rem;
}

.bbrr-thin {
  border-bottom-right-radius: 0.05rem;
}

.br-100 {
  border-radius: 100%;
}

.br-pill {
  border-radius: 9999px;
}

.ba-0 {
  border-width: 0;
  border-style: solid;
}

.btw-0 {
  border-top-width: 0;
  border-top-style: solid;
}

.bbw-0 {
  border-bottom-width: 0;
  border-bottom-style: solid;
}

.brw-0 {
  border-right-width: 0;
  border-right-style: solid;
}

.blw-0 {
  border-left-width: 0;
  border-left-style: solid;
}

.ba-1 {
  border-width: 0.125rem;
  border-style: solid;
}

.btw-1 {
  border-top-width: 0.125rem;
  border-top-style: solid;
}

.bbw-1 {
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
}

.brw-1 {
  border-right-width: 0.125rem;
  border-right-style: solid;
}

.blw-1 {
  border-left-width: 0.125rem;
  border-left-style: solid;
}

.ba-2 {
  border-width: 0.25rem;
  border-style: solid;
}

.btw-2 {
  border-top-width: 0.25rem;
  border-top-style: solid;
}

.bbw-2 {
  border-bottom-width: 0.25rem;
  border-bottom-style: solid;
}

.brw-2 {
  border-right-width: 0.25rem;
  border-right-style: solid;
}

.blw-2 {
  border-left-width: 0.25rem;
  border-left-style: solid;
}

.ba-3 {
  border-width: 0.5rem;
  border-style: solid;
}

.btw-3 {
  border-top-width: 0.5rem;
  border-top-style: solid;
}

.bbw-3 {
  border-bottom-width: 0.5rem;
  border-bottom-style: solid;
}

.brw-3 {
  border-right-width: 0.5rem;
  border-right-style: solid;
}

.blw-3 {
  border-left-width: 0.5rem;
  border-left-style: solid;
}

.ba-4 {
  border-width: 1rem;
  border-style: solid;
}

.btw-4 {
  border-top-width: 1rem;
  border-top-style: solid;
}

.bbw-4 {
  border-bottom-width: 1rem;
  border-bottom-style: solid;
}

.brw-4 {
  border-right-width: 1rem;
  border-right-style: solid;
}

.blw-4 {
  border-left-width: 1rem;
  border-left-style: solid;
}

.ba-5 {
  border-width: 2rem;
  border-style: solid;
}

.btw-5 {
  border-top-width: 2rem;
  border-top-style: solid;
}

.bbw-5 {
  border-bottom-width: 2rem;
  border-bottom-style: solid;
}

.brw-5 {
  border-right-width: 2rem;
  border-right-style: solid;
}

.blw-5 {
  border-left-width: 2rem;
  border-left-style: solid;
}

.ba-thin {
  border-width: 0.05rem;
  border-style: solid;
}

.btw-thin {
  border-top-width: 0.05rem;
  border-top-style: solid;
}

.bbw-thin {
  border-bottom-width: 0.05rem;
  border-bottom-style: solid;
}

.brw-thin {
  border-right-width: 0.05rem;
  border-right-style: solid;
}

.blw-thin {
  border-left-width: 0.05rem;
  border-left-style: solid;
}

.ba-transparent {
  border-color: transparent;
}

.bt-transparent {
  border-top-color: transparent;
}

.bb-transparent {
  border-bottom-color: transparent;
}

.br-transparent {
  border-right-color: transparent;
}

.bl-transparent {
  border-left-color: transparent;
}

.ba-black {
  border-color: #000000;
}

.bt-black {
  border-top-color: #000000;
}

.bb-black {
  border-bottom-color: #000000;
}

.br-black {
  border-right-color: #000000;
}

.bl-black {
  border-left-color: #000000;
}

.ba-white {
  border-color: #ffffff;
}

.bt-white {
  border-top-color: #ffffff;
}

.bb-white {
  border-bottom-color: #ffffff;
}

.br-white {
  border-right-color: #ffffff;
}

.bl-white {
  border-left-color: #ffffff;
}

.ba-gray {
  border-color: rgba(151, 151, 151, 0.3);
}

.bt-gray {
  border-top-color: rgba(151, 151, 151, 0.3);
}

.bb-gray {
  border-bottom-color: rgba(151, 151, 151, 0.3);
}

.br-gray {
  border-right-color: rgba(151, 151, 151, 0.3);
}

.bl-gray {
  border-left-color: rgba(151, 151, 151, 0.3);
}

.ba-gray-1 {
  border-color: #979797;
}

.bt-gray-1 {
  border-top-color: #979797;
}

.bb-gray-1 {
  border-bottom-color: #979797;
}

.br-gray-1 {
  border-right-color: #979797;
}

.bl-gray-1 {
  border-left-color: #979797;
}

.ba-dgray-1 {
  border-color: #393939;
}

.bt-dgray-1 {
  border-top-color: #393939;
}

.bb-dgray-1 {
  border-bottom-color: #393939;
}

.br-dgray-1 {
  border-right-color: #393939;
}

.bl-dgray-1 {
  border-left-color: #393939;
}

.ba-dgray-2 {
  border-color: #1d1d26;
}

.bt-dgray-2 {
  border-top-color: #1d1d26;
}

.bb-dgray-2 {
  border-bottom-color: #1d1d26;
}

.br-dgray-2 {
  border-right-color: #1d1d26;
}

.bl-dgray-2 {
  border-left-color: #1d1d26;
}

.ba-dgray-3 {
  border-color: #1d1d1d;
}

.bt-dgray-3 {
  border-top-color: #1d1d1d;
}

.bb-dgray-3 {
  border-bottom-color: #1d1d1d;
}

.br-dgray-3 {
  border-right-color: #1d1d1d;
}

.bl-dgray-3 {
  border-left-color: #1d1d1d;
}

.ba-dgray-4 {
  border-color: #8191a8;
}

.bt-dgray-4 {
  border-top-color: #8191a8;
}

.bb-dgray-4 {
  border-bottom-color: #8191a8;
}

.br-dgray-4 {
  border-right-color: #8191a8;
}

.bl-dgray-4 {
  border-left-color: #8191a8;
}

.ba-dgray-5 {
  border-color: #cecece;
}

.bt-dgray-5 {
  border-top-color: #cecece;
}

.bb-dgray-5 {
  border-bottom-color: #cecece;
}

.br-dgray-5 {
  border-right-color: #cecece;
}

.bl-dgray-5 {
  border-left-color: #cecece;
}

.ba-dgray-6 {
  border-color: rgba(9, 9, 9, 0.2);
}

.bt-dgray-6 {
  border-top-color: rgba(9, 9, 9, 0.2);
}

.bb-dgray-6 {
  border-bottom-color: rgba(9, 9, 9, 0.2);
}

.br-dgray-6 {
  border-right-color: rgba(9, 9, 9, 0.2);
}

.bl-dgray-6 {
  border-left-color: rgba(9, 9, 9, 0.2);
}

.ba-dgray-7 {
  border-color: rgba(9, 9, 9, 0.5);
}

.bt-dgray-7 {
  border-top-color: rgba(9, 9, 9, 0.5);
}

.bb-dgray-7 {
  border-bottom-color: rgba(9, 9, 9, 0.5);
}

.br-dgray-7 {
  border-right-color: rgba(9, 9, 9, 0.5);
}

.bl-dgray-7 {
  border-left-color: rgba(9, 9, 9, 0.5);
}

.ba-dgray-8 {
  border-color: #c4c4c4;
}

.bt-dgray-8 {
  border-top-color: #c4c4c4;
}

.bb-dgray-8 {
  border-bottom-color: #c4c4c4;
}

.br-dgray-8 {
  border-right-color: #c4c4c4;
}

.bl-dgray-8 {
  border-left-color: #c4c4c4;
}

.ba-dgray-9 {
  border-color: #e4e4e4;
}

.bt-dgray-9 {
  border-top-color: #e4e4e4;
}

.bb-dgray-9 {
  border-bottom-color: #e4e4e4;
}

.br-dgray-9 {
  border-right-color: #e4e4e4;
}

.bl-dgray-9 {
  border-left-color: #e4e4e4;
}

.ba-lgray-1 {
  border-color: #dce1e6;
}

.bt-lgray-1 {
  border-top-color: #dce1e6;
}

.bb-lgray-1 {
  border-bottom-color: #dce1e6;
}

.br-lgray-1 {
  border-right-color: #dce1e6;
}

.bl-lgray-1 {
  border-left-color: #dce1e6;
}

.ba-lgray-2 {
  border-color: #eef1f7;
}

.bt-lgray-2 {
  border-top-color: #eef1f7;
}

.bb-lgray-2 {
  border-bottom-color: #eef1f7;
}

.br-lgray-2 {
  border-right-color: #eef1f7;
}

.bl-lgray-2 {
  border-left-color: #eef1f7;
}

.ba-lgray-3 {
  border-color: #d6d6d6;
}

.bt-lgray-3 {
  border-top-color: #d6d6d6;
}

.bb-lgray-3 {
  border-bottom-color: #d6d6d6;
}

.br-lgray-3 {
  border-right-color: #d6d6d6;
}

.bl-lgray-3 {
  border-left-color: #d6d6d6;
}

.ba-lgray-4 {
  border-color: #a1a1a1;
}

.bt-lgray-4 {
  border-top-color: #a1a1a1;
}

.bb-lgray-4 {
  border-bottom-color: #a1a1a1;
}

.br-lgray-4 {
  border-right-color: #a1a1a1;
}

.bl-lgray-4 {
  border-left-color: #a1a1a1;
}

.ba-lgray-5 {
  border-color: #eeeeee;
}

.bt-lgray-5 {
  border-top-color: #eeeeee;
}

.bb-lgray-5 {
  border-bottom-color: #eeeeee;
}

.br-lgray-5 {
  border-right-color: #eeeeee;
}

.bl-lgray-5 {
  border-left-color: #eeeeee;
}

.ba-lgray-6 {
  border-color: #f0f0f0;
}

.bt-lgray-6 {
  border-top-color: #f0f0f0;
}

.bb-lgray-6 {
  border-bottom-color: #f0f0f0;
}

.br-lgray-6 {
  border-right-color: #f0f0f0;
}

.bl-lgray-6 {
  border-left-color: #f0f0f0;
}

.ba-lgray-7 {
  border-color: #ebeff0;
}

.bt-lgray-7 {
  border-top-color: #ebeff0;
}

.bb-lgray-7 {
  border-bottom-color: #ebeff0;
}

.br-lgray-7 {
  border-right-color: #ebeff0;
}

.bl-lgray-7 {
  border-left-color: #ebeff0;
}

.ba-lgray-8 {
  border-color: #717171;
}

.bt-lgray-8 {
  border-top-color: #717171;
}

.bb-lgray-8 {
  border-bottom-color: #717171;
}

.br-lgray-8 {
  border-right-color: #717171;
}

.bl-lgray-8 {
  border-left-color: #717171;
}

.ba-lgray-9 {
  border-color: #e0e3e5;
}

.bt-lgray-9 {
  border-top-color: #e0e3e5;
}

.bb-lgray-9 {
  border-bottom-color: #e0e3e5;
}

.br-lgray-9 {
  border-right-color: #e0e3e5;
}

.bl-lgray-9 {
  border-left-color: #e0e3e5;
}

.ba-red-1 {
  border-color: #ff4452;
}

.bt-red-1 {
  border-top-color: #ff4452;
}

.bb-red-1 {
  border-bottom-color: #ff4452;
}

.br-red-1 {
  border-right-color: #ff4452;
}

.bl-red-1 {
  border-left-color: #ff4452;
}

.ba-red-2 {
  border-color: #ffd3d5;
}

.bt-red-2 {
  border-top-color: #ffd3d5;
}

.bb-red-2 {
  border-bottom-color: #ffd3d5;
}

.br-red-2 {
  border-right-color: #ffd3d5;
}

.bl-red-2 {
  border-left-color: #ffd3d5;
}

.ba-red-3 {
  border-color: #ff0242;
}

.bt-red-3 {
  border-top-color: #ff0242;
}

.bb-red-3 {
  border-bottom-color: #ff0242;
}

.br-red-3 {
  border-right-color: #ff0242;
}

.bl-red-3 {
  border-left-color: #ff0242;
}

.ba-red-4 {
  border-color: #ff264a;
}

.bt-red-4 {
  border-top-color: #ff264a;
}

.bb-red-4 {
  border-bottom-color: #ff264a;
}

.br-red-4 {
  border-right-color: #ff264a;
}

.bl-red-4 {
  border-left-color: #ff264a;
}

.ba-red-5 {
  border-color: #fff4f4;
}

.bt-red-5 {
  border-top-color: #fff4f4;
}

.bb-red-5 {
  border-bottom-color: #fff4f4;
}

.br-red-5 {
  border-right-color: #fff4f4;
}

.bl-red-5 {
  border-left-color: #fff4f4;
}

.ba-orange-1 {
  border-color: #fbb148;
}

.bt-orange-1 {
  border-top-color: #fbb148;
}

.bb-orange-1 {
  border-bottom-color: #fbb148;
}

.br-orange-1 {
  border-right-color: #fbb148;
}

.bl-orange-1 {
  border-left-color: #fbb148;
}

.ba-orange-2 {
  border-color: #ffe7a7;
}

.bt-orange-2 {
  border-top-color: #ffe7a7;
}

.bb-orange-2 {
  border-bottom-color: #ffe7a7;
}

.br-orange-2 {
  border-right-color: #ffe7a7;
}

.bl-orange-2 {
  border-left-color: #ffe7a7;
}

.ba-orange-3 {
  border-color: #fb755c;
}

.bt-orange-3 {
  border-top-color: #fb755c;
}

.bb-orange-3 {
  border-bottom-color: #fb755c;
}

.br-orange-3 {
  border-right-color: #fb755c;
}

.bl-orange-3 {
  border-left-color: #fb755c;
}

.ba-orange-4 {
  border-color: #ffb002;
}

.bt-orange-4 {
  border-top-color: #ffb002;
}

.bb-orange-4 {
  border-bottom-color: #ffb002;
}

.br-orange-4 {
  border-right-color: #ffb002;
}

.bl-orange-4 {
  border-left-color: #ffb002;
}

.ba-orange-5 {
  border-color: #f9b524;
}

.bt-orange-5 {
  border-top-color: #f9b524;
}

.bb-orange-5 {
  border-bottom-color: #f9b524;
}

.br-orange-5 {
  border-right-color: #f9b524;
}

.bl-orange-5 {
  border-left-color: #f9b524;
}

.ba-green-1 {
  border-color: #6fff4f;
}

.bt-green-1 {
  border-top-color: #6fff4f;
}

.bb-green-1 {
  border-bottom-color: #6fff4f;
}

.br-green-1 {
  border-right-color: #6fff4f;
}

.bl-green-1 {
  border-left-color: #6fff4f;
}

.ba-green-2 {
  border-color: #97e544;
}

.bt-green-2 {
  border-top-color: #97e544;
}

.bb-green-2 {
  border-bottom-color: #97e544;
}

.br-green-2 {
  border-right-color: #97e544;
}

.bl-green-2 {
  border-left-color: #97e544;
}

.ba-green-3 {
  border-color: #b5ec7a;
}

.bt-green-3 {
  border-top-color: #b5ec7a;
}

.bb-green-3 {
  border-bottom-color: #b5ec7a;
}

.br-green-3 {
  border-right-color: #b5ec7a;
}

.bl-green-3 {
  border-left-color: #b5ec7a;
}

.ba-green-4 {
  border-color: #b5ff6a;
}

.bt-green-4 {
  border-top-color: #b5ff6a;
}

.bb-green-4 {
  border-bottom-color: #b5ff6a;
}

.br-green-4 {
  border-right-color: #b5ff6a;
}

.bl-green-4 {
  border-left-color: #b5ff6a;
}

.ba-green-5 {
  border-color: #7ed321;
}

.bt-green-5 {
  border-top-color: #7ed321;
}

.bb-green-5 {
  border-bottom-color: #7ed321;
}

.br-green-5 {
  border-right-color: #7ed321;
}

.bl-green-5 {
  border-left-color: #7ed321;
}

.ba-green-6 {
  border-color: #4d9700;
}

.bt-green-6 {
  border-top-color: #4d9700;
}

.bb-green-6 {
  border-bottom-color: #4d9700;
}

.br-green-6 {
  border-right-color: #4d9700;
}

.bl-green-6 {
  border-left-color: #4d9700;
}

.ba-pink-1 {
  border-color: #ff87e9;
}

.bt-pink-1 {
  border-top-color: #ff87e9;
}

.bb-pink-1 {
  border-bottom-color: #ff87e9;
}

.br-pink-1 {
  border-right-color: #ff87e9;
}

.bl-pink-1 {
  border-left-color: #ff87e9;
}

.ba-cyan-1 {
  border-color: #73f8f8;
}

.bt-cyan-1 {
  border-top-color: #73f8f8;
}

.bb-cyan-1 {
  border-bottom-color: #73f8f8;
}

.br-cyan-1 {
  border-right-color: #73f8f8;
}

.bl-cyan-1 {
  border-left-color: #73f8f8;
}

.ba-cyan-2 {
  border-color: #95ffef;
}

.bt-cyan-2 {
  border-top-color: #95ffef;
}

.bb-cyan-2 {
  border-bottom-color: #95ffef;
}

.br-cyan-2 {
  border-right-color: #95ffef;
}

.bl-cyan-2 {
  border-left-color: #95ffef;
}

.ba-blue-1 {
  border-color: #9ddaff;
}

.bt-blue-1 {
  border-top-color: #9ddaff;
}

.bb-blue-1 {
  border-bottom-color: #9ddaff;
}

.br-blue-1 {
  border-right-color: #9ddaff;
}

.bl-blue-1 {
  border-left-color: #9ddaff;
}

.ba-blue-2 {
  border-color: #2f1ac3;
}

.bt-blue-2 {
  border-top-color: #2f1ac3;
}

.bb-blue-2 {
  border-bottom-color: #2f1ac3;
}

.br-blue-2 {
  border-right-color: #2f1ac3;
}

.bl-blue-2 {
  border-left-color: #2f1ac3;
}

.ba-blue-3 {
  border-color: #007ff0;
}

.bt-blue-3 {
  border-top-color: #007ff0;
}

.bb-blue-3 {
  border-bottom-color: #007ff0;
}

.br-blue-3 {
  border-right-color: #007ff0;
}

.bl-blue-3 {
  border-left-color: #007ff0;
}

.ba-blue-4 {
  border-color: #6c57ff;
}

.bt-blue-4 {
  border-top-color: #6c57ff;
}

.bb-blue-4 {
  border-bottom-color: #6c57ff;
}

.br-blue-4 {
  border-right-color: #6c57ff;
}

.bl-blue-4 {
  border-left-color: #6c57ff;
}

.ba-blue-5 {
  border-color: #348fcb;
}

.bt-blue-5 {
  border-top-color: #348fcb;
}

.bb-blue-5 {
  border-bottom-color: #348fcb;
}

.br-blue-5 {
  border-right-color: #348fcb;
}

.bl-blue-5 {
  border-left-color: #348fcb;
}

.ba-blue-6 {
  border-color: #3900cb;
}

.bt-blue-6 {
  border-top-color: #3900cb;
}

.bb-blue-6 {
  border-bottom-color: #3900cb;
}

.br-blue-6 {
  border-right-color: #3900cb;
}

.bl-blue-6 {
  border-left-color: #3900cb;
}

.ba-blue-7 {
  border-color: #046eff;
}

.bt-blue-7 {
  border-top-color: #046eff;
}

.bb-blue-7 {
  border-bottom-color: #046eff;
}

.br-blue-7 {
  border-right-color: #046eff;
}

.bl-blue-7 {
  border-left-color: #046eff;
}

.ba-blue-8 {
  border-color: #92beff;
}

.bt-blue-8 {
  border-top-color: #92beff;
}

.bb-blue-8 {
  border-bottom-color: #92beff;
}

.br-blue-8 {
  border-right-color: #92beff;
}

.bl-blue-8 {
  border-left-color: #92beff;
}

.ba-blue-9 {
  border-color: #39475a;
}

.bt-blue-9 {
  border-top-color: #39475a;
}

.bb-blue-9 {
  border-bottom-color: #39475a;
}

.br-blue-9 {
  border-right-color: #39475a;
}

.bl-blue-9 {
  border-left-color: #39475a;
}

.ba-purple-1 {
  border-color: #d8c6ff;
}

.bt-purple-1 {
  border-top-color: #d8c6ff;
}

.bb-purple-1 {
  border-bottom-color: #d8c6ff;
}

.br-purple-1 {
  border-right-color: #d8c6ff;
}

.bl-purple-1 {
  border-left-color: #d8c6ff;
}

.ba-purple-2 {
  border-color: #b620e0;
}

.bt-purple-2 {
  border-top-color: #b620e0;
}

.bb-purple-2 {
  border-bottom-color: #b620e0;
}

.br-purple-2 {
  border-right-color: #b620e0;
}

.bl-purple-2 {
  border-left-color: #b620e0;
}

.ba-purple-3 {
  border-color: #c700e8;
}

.bt-purple-3 {
  border-top-color: #c700e8;
}

.bb-purple-3 {
  border-bottom-color: #c700e8;
}

.br-purple-3 {
  border-right-color: #c700e8;
}

.bl-purple-3 {
  border-left-color: #c700e8;
}

.ba-brown {
  border-color: rgba(216, 216, 216, 0.3);
}

.bt-brown {
  border-top-color: rgba(216, 216, 216, 0.3);
}

.bb-brown {
  border-bottom-color: rgba(216, 216, 216, 0.3);
}

.br-brown {
  border-right-color: rgba(216, 216, 216, 0.3);
}

.bl-brown {
  border-left-color: rgba(216, 216, 216, 0.3);
}

.b-dotted {
  border-style: dotted;
}

.b-dashed {
  border-style: dashed;
}

.b-solid {
  border-style: solid;
}

.w-10 {
  width: 10%;
  max-width: 10%;
}

.h-10 {
  height: 10%;
  max-height: 10%;
}

.w-25 {
  width: 25%;
  max-width: 25%;
}

.h-25 {
  height: 25%;
  max-height: 25%;
}

.w-50 {
  width: 50%;
  max-width: 50%;
}

.h-50 {
  height: 50%;
  max-height: 50%;
}

.w-75 {
  width: 75%;
  max-width: 75%;
}

.h-75 {
  height: 75%;
  max-height: 75%;
}

.w-100 {
  width: 100%;
  max-width: 100%;
}

.h-100 {
  height: 100%;
  max-height: 100%;
}

.w-33 {
  width: 33.3333%;
  max-width: 33.3333%;
}

.h-33 {
  height: 33.3333%;
  max-height: 33.3333%;
}

.w-66 {
  width: 66.6667%;
  max-width: 66.6667%;
}

.h-66 {
  height: 66.6667%;
  max-height: 66.6667%;
}

.w-12 {
  width: 12.5%;
  max-width: 12.5%;
}

.h-12 {
  height: 12.5%;
  max-height: 12.5%;
}

.w-20 {
  width: 20%;
  max-width: 20%;
}

.h-20 {
  height: 20%;
  max-height: 20%;
}

.w-30 {
  width: 30%;
  max-width: 30%;
}

.h-30 {
  height: 30%;
  max-height: 30%;
}

.w-40 {
  width: 40%;
  max-width: 40%;
}

.h-40 {
  height: 40%;
  max-height: 40%;
}

.w-60 {
  width: 60%;
  max-width: 60%;
}

.h-60 {
  height: 60%;
  max-height: 60%;
}

.w-70 {
  width: 70%;
  max-width: 70%;
}

.h-70 {
  height: 70%;
  max-height: 70%;
}

.w-80 {
  width: 80%;
  max-width: 80%;
}

.h-80 {
  height: 80%;
  max-height: 80%;
}

.w-90 {
  width: 90%;
  max-width: 90%;
}

.h-90 {
  height: 90%;
  max-height: 90%;
}

.bs-0 {
  box-shadow: none;
}

.bs-1 {
  box-shadow: 0 2px 4px 0 rgba(131, 146, 167, 0.2);
}

.bs-2 {
  box-shadow: 0 0 8px 0 rgba(131, 146, 167, 0.2);
}

.bs-3 {
  box-shadow: 0 5px 20px 0 rgba(255, 38, 74, 0.54);
}

.bs-4 {
  box-shadow: 0 0 6px 0 rgba(252, 182, 62, 0.59);
}

.bs-5 {
  box-shadow: 0 0 4px 0 #046eff;
}

.op-1 {
  opacity: 0.1;
}

.op-2 {
  opacity: 0.2;
}

.op-3 {
  opacity: 0.3;
}

.op-4 {
  opacity: 0.4;
}

.op-5 {
  opacity: 0.5;
}

.op-6 {
  opacity: 0.6;
}

.op-7 {
  opacity: 0.7;
}

.op-8 {
  opacity: 0.8;
}

.op-9 {
  opacity: 0.9;
}

.op-10 {
  opacity: 1;
}

.hidden {
  display: none !important;
}

.transparent {
  background-color: transparent;
  color: transparent;
  border: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.nowrap {
  white-space: nowrap;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-1 {
  flex: 0 0 8.3333333333%;
  max-height: 8.3333333333%;
}

.row-2 {
  flex: 0 0 16.6666666667%;
  max-height: 16.6666666667%;
}

.row-3 {
  flex: 0 0 25%;
  max-height: 25%;
}

.row-4 {
  flex: 0 0 33.3333333333%;
  max-height: 33.3333333333%;
}

.row-5 {
  flex: 0 0 41.6666666667%;
  max-height: 41.6666666667%;
}

.row-6 {
  flex: 0 0 50%;
  max-height: 50%;
}

.row-7 {
  flex: 0 0 58.3333333333%;
  max-height: 58.3333333333%;
}

.row-8 {
  flex: 0 0 66.6666666667%;
  max-height: 66.6666666667%;
}

.row-9 {
  flex: 0 0 75%;
  max-height: 75%;
}

.row-10 {
  flex: 0 0 83.3333333333%;
  max-height: 83.3333333333%;
}

.row-11 {
  flex: 0 0 91.6666666667%;
  max-height: 91.6666666667%;
}

.row-12 {
  flex: 0 0 100%;
  max-height: 100%;
}

.flex-equal {
  flex: 1 1 0;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.justify-items-start {
  justify-items: flex-start;
}

.justify-items-end {
  justify-items: flex-end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-baseline {
  justify-items: baseline;
}

.justify-items-stretch {
  justify-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-stretch {
  align-content: stretch;
}

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  transition: 0.3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: transform, opacity;
  transform: scale(0);
  pointer-events: none;
}
.waves-effect.waves-transparent .waves-ripple {
  background-color: transparent;
}
.waves-effect.waves-black .waves-ripple {
  background-color: #000000;
}
.waves-effect.waves-white .waves-ripple {
  background-color: #ffffff;
}
.waves-effect.waves-gray .waves-ripple {
  background-color: rgba(151, 151, 151, 0.3);
}
.waves-effect.waves-gray-1 .waves-ripple {
  background-color: #979797;
}
.waves-effect.waves-dgray-1 .waves-ripple {
  background-color: #393939;
}
.waves-effect.waves-dgray-2 .waves-ripple {
  background-color: #1d1d26;
}
.waves-effect.waves-dgray-3 .waves-ripple {
  background-color: #1d1d1d;
}
.waves-effect.waves-dgray-4 .waves-ripple {
  background-color: #8191a8;
}
.waves-effect.waves-dgray-5 .waves-ripple {
  background-color: #cecece;
}
.waves-effect.waves-dgray-6 .waves-ripple {
  background-color: rgba(9, 9, 9, 0.2);
}
.waves-effect.waves-dgray-7 .waves-ripple {
  background-color: rgba(9, 9, 9, 0.5);
}
.waves-effect.waves-dgray-8 .waves-ripple {
  background-color: #c4c4c4;
}
.waves-effect.waves-dgray-9 .waves-ripple {
  background-color: #e4e4e4;
}
.waves-effect.waves-lgray-1 .waves-ripple {
  background-color: #dce1e6;
}
.waves-effect.waves-lgray-2 .waves-ripple {
  background-color: #eef1f7;
}
.waves-effect.waves-lgray-3 .waves-ripple {
  background-color: #d6d6d6;
}
.waves-effect.waves-lgray-4 .waves-ripple {
  background-color: #a1a1a1;
}
.waves-effect.waves-lgray-5 .waves-ripple {
  background-color: #eeeeee;
}
.waves-effect.waves-lgray-6 .waves-ripple {
  background-color: #f0f0f0;
}
.waves-effect.waves-lgray-7 .waves-ripple {
  background-color: #ebeff0;
}
.waves-effect.waves-lgray-8 .waves-ripple {
  background-color: #717171;
}
.waves-effect.waves-lgray-9 .waves-ripple {
  background-color: #e0e3e5;
}
.waves-effect.waves-red-1 .waves-ripple {
  background-color: #ff4452;
}
.waves-effect.waves-red-2 .waves-ripple {
  background-color: #ffd3d5;
}
.waves-effect.waves-red-3 .waves-ripple {
  background-color: #ff0242;
}
.waves-effect.waves-red-4 .waves-ripple {
  background-color: #ff264a;
}
.waves-effect.waves-red-5 .waves-ripple {
  background-color: #fff4f4;
}
.waves-effect.waves-orange-1 .waves-ripple {
  background-color: #fbb148;
}
.waves-effect.waves-orange-2 .waves-ripple {
  background-color: #ffe7a7;
}
.waves-effect.waves-orange-3 .waves-ripple {
  background-color: #fb755c;
}
.waves-effect.waves-orange-4 .waves-ripple {
  background-color: #ffb002;
}
.waves-effect.waves-orange-5 .waves-ripple {
  background-color: #f9b524;
}
.waves-effect.waves-green-1 .waves-ripple {
  background-color: #6fff4f;
}
.waves-effect.waves-green-2 .waves-ripple {
  background-color: #97e544;
}
.waves-effect.waves-green-3 .waves-ripple {
  background-color: #b5ec7a;
}
.waves-effect.waves-green-4 .waves-ripple {
  background-color: #b5ff6a;
}
.waves-effect.waves-green-5 .waves-ripple {
  background-color: #7ed321;
}
.waves-effect.waves-green-6 .waves-ripple {
  background-color: #4d9700;
}
.waves-effect.waves-pink-1 .waves-ripple {
  background-color: #ff87e9;
}
.waves-effect.waves-cyan-1 .waves-ripple {
  background-color: #73f8f8;
}
.waves-effect.waves-cyan-2 .waves-ripple {
  background-color: #95ffef;
}
.waves-effect.waves-blue-1 .waves-ripple {
  background-color: #9ddaff;
}
.waves-effect.waves-blue-2 .waves-ripple {
  background-color: #2f1ac3;
}
.waves-effect.waves-blue-3 .waves-ripple {
  background-color: #007ff0;
}
.waves-effect.waves-blue-4 .waves-ripple {
  background-color: #6c57ff;
}
.waves-effect.waves-blue-5 .waves-ripple {
  background-color: #348fcb;
}
.waves-effect.waves-blue-6 .waves-ripple {
  background-color: #3900cb;
}
.waves-effect.waves-blue-7 .waves-ripple {
  background-color: #046eff;
}
.waves-effect.waves-blue-8 .waves-ripple {
  background-color: #92beff;
}
.waves-effect.waves-blue-9 .waves-ripple {
  background-color: #39475a;
}
.waves-effect.waves-purple-1 .waves-ripple {
  background-color: #d8c6ff;
}
.waves-effect.waves-purple-2 .waves-ripple {
  background-color: #b620e0;
}
.waves-effect.waves-purple-3 .waves-ripple {
  background-color: #c700e8;
}
.waves-effect.waves-brown .waves-ripple {
  background-color: rgba(216, 216, 216, 0.3);
}
.waves-effect input[type=button], .waves-effect input[type=reset], .waves-effect input[type=submit] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}
.waves-effect img {
  position: relative;
  z-index: -1;
}

.waves-notransition {
  transition: none !important;
}

.waves-circle {
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1;
}

.elevation-1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.elevation-2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.elevation-3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.elevation-4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.elevation-5 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.elevation-6 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.elevation-7 {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.elevation-8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.elevation-9 {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.elevation-10 {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.elevation-11 {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.elevation-12 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.elevation-13 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.elevation-14 {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.elevation-15 {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.elevation-16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.elevation-17 {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.elevation-18 {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.elevation-19 {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.elevation-20 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.elevation-21 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.elevation-22 {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.elevation-23 {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.elevation-24 {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

button {
  outline: none;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  background: #eeeeee;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #1d1d1d;
  -webkit-tap-highlight-color: transparent;
}

.btn {
  background-clip: padding-box;
}
.btn.disabled, .btn:disabled {
  pointer-events: none;
  opacity: 0.2;
}
.btn__small-rounded {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  outline: none;
  margin: 0 auto;
  padding: 0 0 0.125rem 0;
  font-size: 1.25rem;
  line-height: 0;
}
.btn__centered {
  display: inline-flex;
  align-items: center;
}
.btn__red-corner:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-style: solid;
  border-width: 0 1.25rem 1.25rem 0;
  border-color: transparent #ff4452 transparent transparent;
}
.btn__checked {
  position: absolute;
  right: 0;
  top: -1rem;
}
.btn-raised {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.btn-depressed {
  box-shadow: none;
}
.btn-outline {
  background-color: transparent;
  border-width: 0.05rem;
}
.btn-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  padding: 0;
}

.expansion-panel {
  display: flex;
  flex-direction: column;
}
.expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}
.expansion-panel-header__active {
  border-collapse: collapse;
  background-color: #046eff;
  color: #ffffff;
}

input[type=text] {
  outline: none;
  border: transparent;
  font-family: "Muli", sans-serif;
}

textarea {
  outline: none;
  border: transparent;
  resize: none;
  font-family: "Muli", sans-serif;
}

.textfield {
  padding-left: 0.5rem;
  padding-right: 2rem;
  height: 80%;
  width: 100%;
}
.textfield::placeholder {
  color: #1d1d26;
  font-size: 0.75rem;
  font-weight: 400;
  font-style: italic;
  opacity: 0.5;
}
.textfield-icon {
  position: absolute;
  right: 2%;
  top: 15%;
  height: 70%;
}
.textfield-after {
  position: absolute;
  right: -2rem;
  top: 15%;
  height: 70%;
}
.textfield-error {
  text-align: center;
  color: #ff4452;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
}
.textfield__large {
  padding: 1rem;
  font-size: 1.25rem;
}
.textfield__large::placeholder {
  color: #1d1d26;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
  opacity: 0.2;
}
.textfield.textfield__active {
  border: 0.05rem solid #046eff;
}

.switch {
  position: relative;
  display: inline-block;
}
.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 2rem;
}
.switch-slider:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  bottom: 0;
  background-color: #046eff;
  transition: 0.5s;
  border-radius: 2rem;
}
.switch__small {
  width: 2.25rem;
  height: 0.875rem;
}
.switch-round {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 2rem;
  background-color: #a1a1a1;
}
.switch-round:before {
  position: absolute;
  content: "";
  height: 150%;
  width: 50%;
  left: 0;
  bottom: -25%;
  background-color: #d6d6d6;
  transition: 0.5s;
  border-radius: 100%;
}
.switch-input:checked + .switch-slider:before, .switch-input:checked + .switch-round:before {
  transform: translateX(100%);
}
.switch-input:checked + .switch-round {
  background-color: #92beff;
}
.switch-input:checked + .switch-round:before {
  background-color: #046eff;
}
.switch .first-side {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.switch .second-side {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.check-box-square {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.check-box-square input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.check-box-square .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.25rem;
  height: 1rem;
  width: 1rem;
  background-color: #eeeeee;
}
.check-box-square .check-box__active:after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.375rem;
  width: 0.25rem;
  height: 0.375rem;
  border: solid #ffffff;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
}
.check-box-square .check-box__active {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.25rem;
  height: 1rem;
  width: 1rem;
  background-color: #046eff;
}

.radio {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #ffffff;
  border: 0.05rem solid #a1a1a1;
}
.radio .radio__active {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #ffffff;
  border: 0.05rem solid #ff4452;
}
.radio .radio__active:after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: #ff4452;
}

.slider {
  cursor: default;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  user-select: none;
}
.slider input {
  cursor: default;
  padding: 0;
  width: 100%;
  display: none;
}
.slider-track-container {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slider-track, .slider-fill {
  position: absolute;
  height: 100%;
  border-radius: 2rem;
}
.slider-thumb {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  left: -0.625rem;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  border-radius: 50%;
  border: 1px solid #eeeeee;
}
.slider-thumb-container {
  outline: none;
  position: absolute;
  top: 50%;
}
.slider-thumb-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50% 50% 0;
  border: 1px solid #eeeeee;
  position: absolute;
  left: 0;
  bottom: 100%;
  user-select: none;
  transform: translateY(-20%) translateY(-12px) translateX(-50%) rotate(45deg);
}
.slider-thumb-label > span {
  transform: rotate(-45deg);
}
.slider-disabled {
  opacity: 0.2;
  pointer-events: none;
}

.keyboard__template {
  display: grid;
  grid-gap: 4px;
}

.key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}

.key-number {
  background-clip: padding-box;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.number-key {
  display: flex;
  flex-direction: column;
}
.number-key-show {
  max-width: 100%;
  border-radius: 0.25rem;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.25rem;
}
.number-key-screen {
  border-radius: 0.25rem;
  padding: 0.25rem;
  text-align: center;
  display: flex;
  outline: none;
}
.number-key-text {
  display: inline-flex;
  align-items: center;
}

.layout {
  width: 100%;
  height: 100%;
}

.spacer {
  flex-grow: 1;
  visibility: hidden;
}

.container {
  padding: 0.5rem;
}

.side-bar {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: url("../../assets/order/bg_right.svg");
}

.tool-bar {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.divider {
  border-width: 0.5px;
}

.divider__inset {
  width: calc(100% - 16px);
  margin: 0 0.5rem;
}

.divider__inset-vertical {
  height: calc(100% - 16px);
  margin: 0.5rem 0;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.list-header {
  flex: 0 0 10%;
}
.list-header__extended {
  flex-shrink: 0;
  flex-basis: 12.6667%;
  font-weight: 700;
}
.list-content {
  flex-grow: 1;
  overflow-y: auto;
}
.list-footer {
  flex: 0 0 8.3333%;
}
.list-footer__extended {
  flex-shrink: 0;
  flex-basis: 12.6667%;
  font-weight: 700;
}
.list-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  vertical-align: center;
  padding: 0.25rem;
}

td {
  font-weight: normal;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.table-striped tr:nth-child(even) {
  background-color: #eeeeee;
}

.table-striped tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-striped > div:nth-child(even) {
  background-color: #eeeeee;
}

.table-striped > div:nth-child(odd) {
  background-color: #ffffff;
}

.table-bordered td,
.table-bordered th {
  border: 0.05rem solid #d6d6d6;
}

.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
}
.dialog-wrapper__light {
  background-color: rgba(0, 0, 0, 0.02);
}
.dialog-wrapper__dark {
  background-color: rgba(0, 0, 0, 0.92);
}
.dialog-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: inline;
  position: relative;
}
.menu-content {
  z-index: 10;
  position: absolute;
  display: inline-block;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  contain: content;
}

/*# sourceMappingURL=main.css.map */
