@import "../../style/variables";
@import "../../style/elevation";

.g-card {
  //New
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);

  > .g-card-subtitle {
    color: rgba(0, 0, 0, 0.54);
  }

  &.g-card__outlined {
    box-shadow: none;
    //border: 0.5px solid currentColor;
    border: 1px solid #00000042;
  }

  display: block;
  max-width: 100%;
  outline: none;
  text-decoration: none;
  transition-property: box-shadow, opacity;
  overflow-wrap: break-word;
  position: relative;
  white-space: normal;
  @include elevationTransition();

  &:not(.g-card__tile):not(.g-card__shaped) {
    border-radius: 4px;
  }

  > *:first-child:not(.g-btn):not(.g-chip),
  > *:last-child:not(.g-btn):not(.g-chip) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &__flat {
    @include elevation(0);
  }

  &__hover {
    cursor: pointer;
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1);

    &:hover {
      @include elevation(8);
    }
  }

  &__disabled {
    pointer-events: none;
    user-select: none;

    > *:not(.g-card__progress) {
      opacity: 0.6;
      transition: inherit;
    }
  }

  &__shaped {
    border-radius: 24px 4px;

    .g-image {
      border-top-left-radius: inherit;

      .g-image-content {
        border-top-left-radius: inherit;
      }
    }
  }

  &__raised {
    @include elevation(8);
  }

  //New refactor
  :deep(.g-card-subtitle),
  .g-card-subtitle {
    padding: 16px;

    & + .g-card-text {
      padding-top: 0
    }
  }

  :deep(.g-card-subtitle),
  :deep(.g-card-text),
  .g-card-subtitle,
  .g-card-text {
    font-size: .875rem;
    font-weight: 400 !important;
    line-height: 1.375rem;
    letter-spacing: .0071428571em;
  }

  :deep(.g-card-text),
  :deep(.g-card-title),
  .g-card-text,
  .g-card-title {
    padding: 16px
  }

  :deep(.g-card-title),
  .g-card-title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
    line-height: 2rem;
    word-break: break-all;

    & + .g-card-subtitle, & + .g-card-text {
      padding-top: 0;
    }

    & + .g-card-subtitle {
      margin-top: -16px;
    }

    .g-card-title__top {
      top: map-get($grid-gutters, 'xs');
    }

    .g-card-title__left {
      left: map-get($grid-gutters, 'xs');
    }

    .g-card-title__bottom {
      bottom: map-get($grid-gutters, 'xs');
    }

    .g-card-title__right {
      right: map-get($grid-gutters, 'xs');
    }

    .g-card-title__absolute {
      position: absolute;
    }
  }

  :deep(.g-card-text),
  .g-card-text {
    width: 100%;
  }

  :deep(.g-card-actions),
  .g-card-actions {
    align-items: center;
    display: flex;
    padding: 8px;

    .g-btn {
      padding: 0 8px;

      & + .g-btn {
        margin-left: 8px
      }

      .g-icon__left {
        margin-left: 4px;
      }

      .g-icon__right {
        margin-right: 4px;
      }
    }
  }
}

