//Block
.overlay {

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  //Element
  &-scrim {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &-content {
    position: relative;
  }

  //Modifier
  &__active {
    pointer-events: visible;
  }

  &__absolute {
    position: absolute;
  }
}