::-webkit-input-placeholder { /* Chrome */
  color: #9E9E9E;
}

.bs-tf-wrapper {
  display: block;
  cursor: text;
  width: calc(100% - 10px);
  margin: 4px 4px 8px;
}

.bs-tf-label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.bs-tf-input-group,
.bs-tf-inner-input-group,
.bs-tf-input-prepend,
.bs-tf-input-append {
  display: flex;
}

.bs-tf-inner-input-group {
  background-color: #F0F0F0;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #ced4da !important;
  color: #9E9E9E;
  flex-basis: 100%;
  width: 100%;
  align-items: center;
}

.bs-tf-inner-input-group__active {
  outline: 0;
  border-color: #1471FF !important;
  box-shadow: 0 0 0 1px #1471FF;
  border-radius: 2px;
}

.bs-tf-input-prepend,
.bs-tf-input-prepend > *:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.bs-tf-input-prepend > * {
  border-right: none !important;
}

.bs-tf-input-append > * {
  border-left: none !important;
  z-index: -1; /*display under input box shadow*/
}

.bs-tf-input-append,
.bs-tf-input-append > *:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.bs-tf-input-text {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #9E9E9E;
  background-color: #FFFFFF;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #ced4da;
  width: 100%;
}

.bs-tf-input {
  display: block;
  width: 100%;
  padding: 6px 8px;
  line-height: 24px;
  font-size: 14px;
  background-color: #F0F0F0;
  background-clip: padding-box;
  color: #000000;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.bs-tf-input:focus {

}

.bs-tf-input-has-prepend {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.bs-tf-input-has-append {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bs-tf-message {
  display: block;
  font-size: 80%;
  font-weight: 400;
  margin-top: 2px;
  color: #6c757d;
}

.input-error {
  border-color: red !important;
}

.bs-tf-error-message {
  @extend .bs-tf-message;
  color: red;
}

.bs-tf__large {
  .bs-tf-input {
    display: block;
    flex: 1 1 auto;
    padding: 14px 12px;
    line-height: 28px;
    font-size: 20px;
    font-weight: bold;
    background-color: #F0F0F0;
    background-clip: padding-box;
    color: #000000;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .bs-tf-inner-input-group {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
  }

  .bs-tf-input-prepend,
  .bs-tf-input-prepend > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .bs-tf-input-prepend ~ .bs-tf-inner-input-group {
    border-radius: 0;
  }

  .bs-tf-input-append,
  .bs-tf-input-append > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
