button {
  outline: none;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  cursor: pointer;
  color: rgba(0, 0, 0, .87);
  -webkit-tap-highlight-color: transparent;
}

//Vuetify
.g-btn {
  align-items: center;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  font-weight: $btn-font-weight;
  letter-spacing: $btn-letter-spacing;
  justify-content: center;
  max-width: 100%;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: $btn-letter-spacing;
  text-transform: uppercase;
  transition-duration: $btn-transition-duration;
  transition-property: box-shadow, transform, opacity;
  transition-timing-function: $btn-transition-fn;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover::before {
    opacity: 0.04;
  }

  &:focus::before {
    opacity: 0.12;
  }

  &__active {
    &:hover::before,
    &::before {
      opacity: 0.12;
    }

    &:focus::before {
      opacity: 0.16;
    }
  }

  color: rgba(0, 0, 0, 0.87);

  &.g-btn__disabled {
    color: rgba(0, 0, 0, 0.26) !important;

    .g-icon {
      color: rgba(0, 0, 0, 0.26) !important;
    }

    &:not(.g-btn__flat):not(.g-btn__text):not(.g-btn__outlined) {
      background-color: rgba(0, 0, 0, 0.12) !important;
    }
  }

  &:not(.g-btn__flat):not(.g-btn__text):not(.g-btn__outlined) {
    background-color: #f5f5f5;
  }

  &.g-btn__outlined.g-btn__text {
    border-color: rgba(0, 0, 0, 0.12);
  }

  &.g-btn__icon {
    color: rgba(0, 0, 0, 0.54);
  }

  @each $name, $size in $btn-font-sizes {
    &.g-size__#{$name} {
      font-size: $size;
    }
  }

  &:before {
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: '';
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: $btn-transition
  }
;

  &:before {
    background-color: currentColor;
  }

  &:not(.g-btn__disabled) {
    will-change: box-shadow;
  }

  &:not(.g-btn__round):not(.g-btn__fab):not(.g-btn__icon) {
    @each $name, $size in $btn-sizes {
      &.g-size__#{$name} {
        height: #{$size}px;
        min-width: #{round($size * 1.777777777777778)}px; // default ratio;
        padding: 0 #{$size / 2.25}px;
      }
    }
  }

  > .g-btn__content .g-icon {
    color: inherit;
  }
}

.g-btn__content {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;

  .g-icon__left,
  .g-icon__right {
    font-size: $btn-icon-font-size;
    height: $btn-icon-font-size;
    width: $btn-icon-font-size;
  }

  .g-icon__left {
    margin-left: -4px;
    margin-right: 8px;
  }

  .g-icon__right {
    margin-left: 8px;
    margin-right: -4px;
  }
}

//Modifier
// Modifiers
.g-btn:not(.g-btn__text):not(.g-btn__outlined) {
  &.g-btn__active:before {
    opacity: $btn-active-opacity;
  }

  &:hover:before {
    opacity: $btn-hover-opacity;
  }

  &:focus:before {
    opacity: $btn-focus-opacity;
  }
}


.g-btn__absolute,
.g-btn__fixed {
  position: absolute;

  &.g-btn__right {
    right: map-get($grid-gutters, 'sm');
  }

  &.g-btn__left {
    left: map-get($grid-gutters, 'sm');
  }

  &.g-btn__top {
    top: map-get($grid-gutters, 'sm');
  }

  &.g-btn__bottom {
    bottom: map-get($grid-gutters, 'sm');
  }
}

.g-btn__block {
  display: flex;
  flex: 1 0 auto;
  min-width: 100% !important;
}


.g-btn__contained {
  @include elevation(2);

  &:after {
    @include elevation(4);
  }

  &:active {
    @include elevation(8);
  }
}

.g-btn__depressed {
  box-shadow: none !important;
}

.g-btn__disabled {
  box-shadow: none !important;
  pointer-events: none !important;
}

.g-btn__icon,
.g-btn__fab {
  min-height: 0;
  min-width: 0;
  padding: 0;

  @each $name, $size in $fab-icon-sizes {
    &.g-size__#{$name} {
      .g-icon {
        height: #{$size}px !important;
        font-size: #{$size}px !important;
        width: #{$size}px !important;
      }
    }
  }
}

.g-btn__icon {
  @each $name, $size in $btn-sizes {
    &.g-size__#{$name} {
      height: #{$size}px !important;
      width: #{$size}px !important;
    }
  }
}

.g-btn__fab {
  &.g-btn__contained {
    @include elevation(6);

    &:after {
      @include elevation(8);
    }

    &:active {
      @include elevation(12)
    }
  }

  &.g-btn__fixed,
  &.g-btn__absolute {
    z-index: 4;
  }

  @each $name, $size in $fab-sizes {
    &.g-size__#{$name} {
      height: #{$size}px;
      width: #{$size}px;
    }

    &.g-btn__absolute {
      &.g-btn__bottom {
        bottom: -#{$size / 2}px;
      }

      &.g-btn__top {
        top: -#{$size / 2}px;
      }
    }
  }
}

.g-btn__fixed {
  position: fixed;
}

.g-btn__outlined {
  border: $btn-outline-border-width solid currentColor;

  &:before {
    border-radius: 0
  }
}

.g-btn__outlined,
.g-btn__round {
  .g-btn__content {
    .g-icon {
      color: currentColor;
    }
  }
}

.g-btn__outlined,
.g-btn__flat,
.g-btn__text {
  background-color: transparent;
}

.g-btn__round,
.g-btn__rounded {
  &:before {
    border-radius: inherit;
  }
}

.g-btn__round {
  border-radius: 50%
}

.g-btn__rounded {
  border-radius: $btn-rounded-border-radius
}

.g-btn__tile {
  border-radius: 0
}

$elevationMin: 1;
$elevationMax: 24;
@for $i from $elevationMin through $elevationMax {
  .g-btn__elevation-#{$i} {
    @include elevation($i);
  }
}

