//Global

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

@media (min-height: 900px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

body {
  font-weight: $font-weight-base;
  font-family: $font-family-base;
  color: #1d1d1d;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

p {
  margin: 0;
}

.hidden {
  display: none !important;
}

.transparent {
  visibility: hidden !important;
}

.body-wrapper__responsive__vertical {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.92);
}

.rotation-wrapper {
  position: absolute;
  top: 0;
  left: -100vh;
  z-index: 2;
  height: 100vw;
  width: 100vh;
  background: rgba(0, 0, 0, 0.92);
  transform: rotate(-90deg);
  transform-origin: top right;
}

//TODO: disable default android keyboard