.icon-add_user {
  background-image: url("../assets/config/add_user.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-advance_printer {
  background-image: url("../assets/config/advance_printer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-bar_chart {
  background-image: url("../assets/config/bar_chart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-bluetooth {
  background-image: url("../assets/config/bluetooth.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cancel3 {
  background-image: url("../assets/config/cancel3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cog {
  background-image: url("../assets/config/cog.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-collapse {
  background-image: url("../assets/config/collapse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-expand {
  background-image: url("../assets/config/expand.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-filter {
  background-image: url("../assets/config/filter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-info-green {
  background-image: url("../assets/config/info-green.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-keyboard {
  background-image: url("../assets/config/keyboard.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-lan {
  background-image: url("../assets/config/lan.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-liefer_packet {
  background-image: url("../assets/config/liefer_packet.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-merge {
  background-image: url("../assets/config/merge.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-paypal {
  background-image: url("../assets/config/paypal.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-printer {
  background-image: url("../assets/config/printer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-printer_1 {
  background-image: url("../assets/config/printer_1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-redo {
  background-image: url("../assets/config/redo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-scanning_barcode {
  background-image: url("../assets/config/scanning_barcode.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-setting {
  background-image: url("../assets/config/setting.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-sort {
  background-image: url("../assets/config/sort.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-split {
  background-image: url("../assets/config/split.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-support {
  background-image: url("../assets/config/support.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-switch {
  background-image: url("../assets/config/switch.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-table_layout {
  background-image: url("../assets/config/table_layout.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-trash {
  background-image: url("../assets/config/trash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-upload {
  background-image: url("../assets/config/upload.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-usb {
  background-image: url("../assets/config/usb.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-vga_port {
  background-image: url("../assets/config/vga_port.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-whole_order {
  background-image: url("../assets/config/whole_order.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-wifi_printer {
  background-image: url("../assets/config/wifi_printer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-align_bottom {
  background-image: url("../assets/csscustomizer/align_bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-align_center_horizontal {
  background-image: url("../assets/csscustomizer/align_center_horizontal.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-align_center_vertical {
  background-image: url("../assets/csscustomizer/align_center_vertical.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-align_left {
  background-image: url("../assets/csscustomizer/align_left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-align_right {
  background-image: url("../assets/csscustomizer/align_right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-align_top {
  background-image: url("../assets/csscustomizer/align_top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-calendar {
  background-image: url("../assets/dashboard/calendar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-code {
  background-image: url("../assets/dashboard/code.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-dashboard {
  background-image: url("../assets/dashboard/dashboard.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-gear {
  background-image: url("../assets/dashboard/gear.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-history {
  background-image: url("../assets/dashboard/history.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-info {
  background-image: url("../assets/dashboard/info.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-logout {
  background-image: url("../assets/dashboard/logout.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-report {
  background-image: url("../assets/dashboard/report.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-arrow {
  background-image: url("../assets/delivery/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cancel {
  background-image: url("../assets/delivery/cancel.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-checked {
  background-image: url("../assets/delivery/checked.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-checked_customer {
  background-image: url("../assets/delivery/checked_customer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-checked_document {
  background-image: url("../assets/delivery/checked_document.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-checked_time {
  background-image: url("../assets/delivery/checked_time.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-close {
  background-image: url("../assets/delivery/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-customer {
  background-image: url("../assets/delivery/customer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-delete {
  background-image: url("../assets/delivery/delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-delete_2 {
  background-image: url("../assets/delivery/delete_2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-delivery {
  background-image: url("../assets/delivery/delivery.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-fast_checkout {
  background-image: url("../assets/delivery/fast_checkout.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-key_delete {
  background-image: url("../assets/delivery/key_delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-key_enter {
  background-image: url("../assets/delivery/key_enter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-key_shift {
  background-image: url("../assets/delivery/key_shift.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-list {
  background-image: url("../assets/delivery/list.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-manual {
  background-image: url("../assets/delivery/manual.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-more {
  background-image: url("../assets/delivery/more.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-new_delivery {
  background-image: url("../assets/delivery/new_delivery.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-power_off {
  background-image: url("../assets/delivery/power_off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-print {
  background-image: url("../assets/delivery/print.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-record_voice_over {
  background-image: url("../assets/delivery/record_voice_over.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-scooter {
  background-image: url("../assets/delivery/scooter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-shipper {
  background-image: url("../assets/delivery/shipper.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-store {
  background-image: url("../assets/delivery/store.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-table_reserved {
  background-image: url("../assets/delivery/table_reserved.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-time {
  background-image: url("../assets/delivery/time.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-vip_customer {
  background-image: url("../assets/delivery/vip_customer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-warning {
  background-image: url("../assets/delivery/warning.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-close2 {
  background-image: url("../assets/dnddialog/close2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-maximize1 {
  background-image: url("../assets/dnddialog/maximize1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-maximize2 {
  background-image: url("../assets/dnddialog/maximize2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-minimize {
  background-image: url("../assets/dnddialog/minimize.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-avatar {
  background-image: url("../assets/home/avatar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-base {
  background-image: url("../assets/home/base.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-checked_gray {
  background-image: url("../assets/home/checked_gray.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-fork-and-knife {
  background-image: url("../assets/home/fork-and-knife.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-icon {
  background-image: url("../assets/home/icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-logo {
  background-image: url("../assets/home/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-passage_of_time {
  background-image: url("../assets/home/passage_of_time.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-printer_2 {
  background-image: url("../assets/home/printer_2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-rectangle_reservation {
  background-image: url("../assets/home/rectangle_reservation.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-rectangle_serving {
  background-image: url("../assets/home/rectangle_serving.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-rectangle_takeaway {
  background-image: url("../assets/home/rectangle_takeaway.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-wall {
  background-image: url("../assets/home/wall.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-add {
  background-image: url("../assets/order/add.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-arrow_back {
  background-image: url("../assets/order/arrow_back.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-avatar2 {
  background-image: url("../assets/order/avatar2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-back {
  background-image: url("../assets/order/back.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-bureau {
  background-image: url("../assets/order/bureau.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cancel2 {
  background-image: url("../assets/order/cancel2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cash {
  background-image: url("../assets/order/cash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cashier {
  background-image: url("../assets/order/cashier.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-checked2 {
  background-image: url("../assets/order/checked2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cocktail {
  background-image: url("../assets/order/cocktail.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-credit_card {
  background-image: url("../assets/order/credit_card.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-customer_ava {
  background-image: url("../assets/order/customer_ava.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-dinner_2 {
  background-image: url("../assets/order/dinner_2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-dinner_copy {
  background-image: url("../assets/order/dinner_copy.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-document {
  background-image: url("../assets/order/document.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-drink {
  background-image: url("../assets/order/drink.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-folder {
  background-image: url("../assets/order/folder.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-food_container {
  background-image: url("../assets/order/food_container.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-master_card {
  background-image: url("../assets/order/master_card.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-meat {
  background-image: url("../assets/order/meat.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-menu {
  background-image: url("../assets/order/menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-next {
  background-image: url("../assets/order/next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-open {
  background-image: url("../assets/order/open.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-path-filter {
  background-image: url("../assets/order/path-filter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-prev {
  background-image: url("../assets/order/prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-print2 {
  background-image: url("../assets/order/print2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-promotion {
  background-image: url("../assets/order/promotion.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-refresh {
  background-image: url("../assets/order/refresh.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-remove-square {
  background-image: url("../assets/order/remove-square.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-remove {
  background-image: url("../assets/order/remove.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-salad {
  background-image: url("../assets/order/salad.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-seafood {
  background-image: url("../assets/order/seafood.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-select_to {
  background-image: url("../assets/order/select_to.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-snack {
  background-image: url("../assets/order/snack.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-soup {
  background-image: url("../assets/order/soup.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-spaghetti {
  background-image: url("../assets/order/spaghetti.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-split_check_2 {
  background-image: url("../assets/order/split_check_2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-split_checked {
  background-image: url("../assets/order/split_checked.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-zoom {
  background-image: url("../assets/order/zoom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-deposit {
  background-image: url("../assets/reservation/deposit.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-list2 {
  background-image: url("../assets/reservation/list2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-note {
  background-image: url("../assets/reservation/note.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-table {
  background-image: url("../assets/reservation/table.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-search {
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-arrow-right {
  background-image: url("../assets/sections/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

