a {
  text-decoration: none;
}

html {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-size-base;
  font-weight: $font-weight-4;
  line-height: 1.1;
  color: #333;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1-fontsize; margin: ($h1-fontsize / 1.5) 0 ($h1-fontsize / 2.5) 0;}
h2 { font-size: $h2-fontsize; margin: ($h2-fontsize / 1.5) 0 ($h2-fontsize / 2.5) 0;}
h3 { font-size: $h3-fontsize; margin: ($h3-fontsize / 1.5) 0 ($h3-fontsize / 2.5) 0;}
h4 { font-size: $h4-fontsize; margin: ($h4-fontsize / 1.5) 0 ($h4-fontsize / 2.5) 0;}
h5 { font-size: $h5-fontsize; margin: ($h5-fontsize / 1.5) 0 ($h5-fontsize / 2.5) 0;}
h6 { font-size: $h6-fontsize; margin: ($h6-fontsize / 1.5) 0 ($h6-fontsize / 2.5) 0;}

em { font-style: italic; }
strong { font-weight: $font-weight-5; }
small { font-size: 75%; }
sub,
sup {
  position: relative;
  font-size: $font-size-base * 0.75;
  line-height: 0;
  vertical-align: baseline;
}
sub { bottom: -0.25em; }
sup { top: -0.5em; }

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid color("purple", "base");
}

pre,
code,
kbd,
samp {
  font-family: $font-family-base;
  font-size: $font-size-base * 0.875;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: $font-size-base * 0.875;

  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

code {
  font-size: $font-size-base * 0.875;
  color: color("pink", "base");
  word-wrap: break-word;

  a > & {
    color: inherit;
  }
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: $font-size-base * 0.875;
  color: color("shades", "white");
  background-color: color("grey", "darken-4");
  border-radius: 0.25rem;

  kbd {
    padding: 0;
    font-size: 1em;
    font-weight: $font-weight-5;
  }
}
