@import "variables";

// Block
.g-chip-group {
  .g-chip {
    margin: $chip-group-margin;

    .g-chip--active {
      color: inherit;

      &.g-chip--no-color {
        &:after {
          opacity: .22
        }

        &:focus:after {
          opacity: .32
        }
      }
    }

  }
}

// Element
.g-chip-group .g-chip-group__content{
  width: 25%;
  padding: $chip-group-content-padding;
  display: flex;
  flex: 1 0 auto;
  position: relative;
}

// Modifiers
.g-chip-group__column {
  .g-chip-group__content {
    white-space: normal;
    flex-wrap: wrap;
    max-width: 100%;
  }
}
