@import "variables";

// Block
.g-chip-group {
  .g-chip {
    margin: $chip-group-margin;
  }

  .g-chip__active {
    color: inherit;

    //&.g-chip--no-color {
    //  &:after {
    //    opacity: .22
    //  }
    //
    //  &:focus:after {
    //    opacity: .32
    //  }
    //}
  }
}

// Element
.g-chip-group .g-chip-group__content {
  padding: $chip-group-content-padding;
}

// Modifiers
.g-chip-group__column {
  .g-chip-group__content {
    white-space: normal;
    flex-wrap: wrap;
    max-width: 100%;
  }
}
