.dialog2 {
  pointer-events: auto;
  overflow-y: hidden;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    outline: none;
  }

  &-content {
    display: none;

    &:not(.dialog2-content__fullscreen) {
      max-width: 90%;
      max-height: 90%;
    }

    > * {
      width: 100%
    }

    > .g-card {
      height: auto;
      overflow-y: auto;

      > .g-card-title {
        font-size: 2em;
        font-weight: 500;
      }
    }
  }

  &-content__active {
    display: flex;
    pointer-events: auto;
  }

  &-content__scrollable {
    > .g-card {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      max-height: 100%;
      max-width: 100%;

      > .g-card-title, .g-card-actions {
        flex: 0 0 auto
      }

      > .g-card-text {
        backface-visibility: hidden;
        flex: 1 1 auto;
        overflow-y: auto;
      }
    }
  }

  &-content__fullscreen {
    border-radius: 0;
    margin: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;

    > .g-card {
      min-height: 100%;
      min-width: 100%;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}