@import "../var";

.g-date-picker-header {
  padding: 4px 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative ;

  .g-btn {
    margin: 0;
    z-index: auto;
  }

  .g-icon {
    cursor: pointer;
    user-select: none;
  }

  &--disabled {
    pointer-events: none;
  }

  &__value {
    flex: 1;
    position: relative;
    overflow: hidden;
    color: rgb(83, 83, 83);

    div {
      transition: $primary-transition;
      width: 100%;
    }

    button {
      cursor: pointer;
      font-weight: bold;
      outline: none;
      padding: 0.5rem;
      transition: $primary-transition;
      background-color: transparent;
      border-style: none;
      color: inherit;
    }
  }

  %nav_button {
    height: 24px;
    width: 24px;
    border: none;
    background-color: transparent;
  }

  &__prev-button {
    @extend %nav_button;
    margin-right: 24px;

    &::before {
      content: '\F141';
      font-family: "Material Design Icons";
    }
  }

  &__next-button {
    @extend %nav_button;

    &::after {
      content: '\F142';
      font-family: "Material Design Icons";
    }
  }
}


