.fade-transition {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0 !important;
  }
}

.fadeDown {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0 !important;
  }

  &-enter-from {
    transform: translateY(-100%);
  }

  &-leave-to {
    transform: translateY(100%);
  }
}

.fadeUp {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0 !important;
  }

  &-enter-from {
    transform: translateY(100%);
  }

  &-leave-to {
    transform: translateY(-100%);
  }
}

.fadeRight {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0 !important;
  }

  &-enter-from {
    transform: translateX(100%);
  }

  &-leave-to {
    transform: translateX(-100%);
  }
}

.fadeLeft {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0 !important;
  }

  &-enter-from {
    transform: translateX(-100%);
  }

  &-leave-to {
    transform: translateX(100%);
  }
}
