@keyframes lightSpeedInRight {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedOutLeft {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(-100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
}

.lightSpeedRight {
  @include animation-default();

  &-enter-active, &-leave-active {
    animation-timing-function: ease-out;
  }

  &-enter-active {
    animation-name: lightSpeedInRight;
  }

  &-leave-active {
    animation-name: lightSpeedOutLeft;
  }
}

@keyframes lightSpeedInLeft {
  from {
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(-20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(5deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedOutRight {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedLeft {
  @include animation-default();

  &-enter-active, &-leave-active {
    animation-timing-function: ease-out;
  }

  &-enter-active {
    animation-name: lightSpeedInLeft;
  }

  &-leave-active {
    animation-name: lightSpeedOutRight;
  }
}