.roll {
  @include transition-default();

  &-enter-from, &-leave-to {
    opacity: 0;
  }

  &-enter-from {
    transform: translateX(-100%) rotateZ(-135deg);
  }

  &-leave-to {
    transform: translateX(100%) rotateZ(135deg);
  }
}
