.rotate {
  @include transition-default();

  &-enter-from, &-leave-to {
    transform-origin: center;
    opacity: 0;
  }

  &-enter-from {
    transform: rotateZ(-200deg);
  }

  &-leave-to {
    transform: rotateZ(200deg);
  }
}

.rotateDownLeft {
  @include transition-default();

  &-enter-from, &-leave-to {
    transform-origin: left;
    opacity: 0;
  }

  &-enter-from {
    transform: rotateZ(-45deg);
  }

  &-leave-to {
    transform: rotateZ(45deg);
  }
}

.rotateDownRight {
  @include transition-default();

  &-enter-from, &-leave-to {
    transform-origin: right;
    opacity: 0;
  }

  &-enter-from {
    transform: rotateZ(45deg);
  }

  &-leave-to {
    transform: rotateZ(-45deg);
  }
}

.rotateUpLeft {
  @include transition-default();

  &-enter-from, &-leave-to {
    transform-origin: left;
    opacity: 0;
  }

  &-enter-from {
    transform: rotateZ(45deg);
  }

  &-leave-to {
    transform: rotateZ(-45deg);
  }
}

.rotateUpRight {
  @include transition-default();

  &-enter-from, &-leave-to {
    transform-origin: right;
    opacity: 0;
  }

  &-enter-from {
    transform: rotateZ(45deg);
  }

  &-leave-to {
    transform: rotateZ(-45deg);
  }
}
