$slider-track-width: 2px !default;
$slider-track-border-radius: 0 !default;
$slider-thumb-size: 12px !default;
$slider-thumb-border-radius: 50% !default;
$slider-thumb-focused-size-increase: 24px !default;
$slider-tick-border-radius: 0 !default;
$transition: () !default;
$primary-transition: 0.3s map-get($transition, 'swing') !default;
$secondary-transition: 0.2s map-get($transition, 'ease-in-out') !default;

.g-slider {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  user-select: none;

  input {
    cursor: default;
    padding: 0;
    width: 100%;
    display: none;
  }

  &-track-container {
    position: absolute;
    border-radius: $slider-track-border-radius;
    //width: 100%; // abm
    background-color: #cccccc; // abm
  }

  &-track {
    &-background, &-fill {
      position: absolute;
      transition: .3s map-get($transition, 'swing');
    }
  }

  &-thumb-container {
    outline: none;
    position: absolute;
    top: 50%;
    transform: scale(1);
    transition: .3s map-get($transition, 'swing');

    &:hover {
      .g-slider-thumb:before {
        transform: scale(1);
      }
    }

    &__focused {
      .g-slider-thumb:before {
        transform: scale(1);
      }
    }

    &__active {
      .g-slider-tick {
        opacity: 1;
      }
    }
  }

  &-thumb {
    position: absolute;
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    left: -#{$slider-thumb-size / 2};
    top: 50%;
    border-radius: $slider-thumb-border-radius;
    user-select: none;
    transform: translateY(-50%);
    transition: .3s map-get($transition, 'swing');
    background-color: currentColor;

    &:before {
      transition: $primary-transition;
      content: '';
      color: inherit;
      width: #{$slider-thumb-size + $slider-thumb-focused-size-increase};
      height: #{$slider-thumb-size + $slider-thumb-focused-size-increase};
      border-radius: $slider-thumb-border-radius;
      background: currentColor;
      opacity: 0.3;
      position: absolute;
      left: -#{$slider-thumb-focused-size-increase / 2};
      top: -#{$slider-thumb-focused-size-increase / 2};
      transform: scale(0);
      pointer-events: none;
    }
  }

  &-ticks-container {
    position: absolute;

    &__always-show {
      .g-slider-tick {
        opacity: 1;
      }
    }
  }

  &-tick {
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: $slider-tick-border-radius;
    transition: .3s map-get($transition, 'swing');
    &__filled {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:first-child .g-slider-tick-label {
      transform: none;
    }

    &:last-child .g-slider-tick-label {
      transform: translateX(-100%);
    }
  }

  &-tick-label {
    position: absolute;
    user-select: none;
    white-space: nowrap;
    line-height: 1;
    font-size: 14px;
  }

  &-thumb-label-container {
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s map-get($transition, 'fast-in-fast-out');
  }

  &-thumb-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50% 50% 0;
    position: absolute;
    left: 0;
    bottom: 100%;
    user-select: none;
    transition: .3s map-get($transition, 'fast-in-fast-out');
  }
}

//g-slider modifier class
.g-slider__horizontal {
  min-height: 40px;
  margin-left: 8px;
  margin-right: 8px;

  .g-slider-track {
    &-container {
      width: 100%;
      height: $slider-track-width;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &-background, &-fill {
      height: 100%;
    }
  }

  .g-slider-ticks-container {
    left: 0;
    height: $slider-track-width;
    width: 100%;
  }

  .g-slider-tick:not(:first-child):not(:last-child) {
    .g-slider-tick-label {
      transform: translateX(-50%) translateY(6px);
    }
  }

  .g-slider-tick:first-child {
    .g-slider-tick-label {
      transform: translateX(-8px) translateY(6px);
    }
  }

  .g-slider-tick:last-child {
    .g-slider-tick-label {
      transform: translateX(calc(-100% + 8px)) translateY(6px);
    }
  }

  .g-slider-thumb-label {
    > * {
      transform: rotate(-45deg);
    }
  }
}

.g-slider__vertical {
  min-width: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 100%;

  .g-slider-track {
    &-container {
      height: 100%;
      width: $slider-track-width;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }

    &-background, &-fill {
      width: 100%;
    }
  }

  .g-slider-thumb-container {
    left: 50%;
  }

  .g-slider-ticks-container {
    top: 0;
    width: $slider-track-width;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .g-slider-tick {
    .g-slider-tick-label {
      transform:translateX(calc(-100% - 6px)) translateY(-50%);
    }
  }

  .g-slider-thumb-label {
    > * {
      transform: rotate(-135deg);
    }
  }
}

.g-slider__active {
  .g-slider-tick {
    opacity: 1;
  }
}

.g-slider__disabled {
  pointer-events: none;

  .g-slider-thumb {
    width: #{$slider-thumb-size - 4};
    height: #{$slider-thumb-size - 4};
    left: -#{($slider-thumb-size - 4) / 2};

    &:before {
      display: none
    }
  }
}

.g-slider-readonly {
  pointer-events: none;
}

//todo add input slider css
.g-input-slider {

}


