@import './_variables.scss';

.g-picker {
  border-radius: $picker-border-radius;
  contain: layout style;
  vertical-align: top;
  position: relative;
  background-color: #FFFFFF;
  max-width: 100%;
  min-width: 15%;
  outline: none;
  text-decoration: none;
  transition-property: box-shaow, opacity;
  overflow-wrap: break-word;
  white-space: normal;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.25s;
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    color: map-get($shades, 'white');
    border-top-left-radius: $picker-border-radius;
    border-top-right-radius: $picker-border-radius;
    padding: $picker-title-padding;

    &__btn {
      transition: $primary-transition;

      &--readonly {
        pointer-events: none;
      }

      &--active {
        opacity: $picker-active-btn-opacity;
        cursor: pointer;
      }

      $currentSelector: &;
      &:not(#{$currentSelector}--active) {
        opacity: $picker-inactive-btn-opacity;

        &:hover:not(:focus) {
          opacity: 1
        }
      }
    }
  }


  &__body {
    height: auto;
    overflow: hidden;
    position: relative;
    z-index: 0;

    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    > div {
      width: 100%;

      &.fade-transition-leave-active {
        position: absolute;
      }
    }
  }
}

.g-picker--landscape {
  .g-picker__title {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: $picker-landscape-title-width;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }

  .g-picker__body:not(.g-picker__body--no-title),
  .g-picker__actions:not(.g-picker__actions--no-title) {
    margin-left: $picker-landscape-title-width;
  }
}
