.expansion-panel {
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;

    &__active {
      border-collapse: collapse;
      background-color: #046eff;
      color: #ffffff;
    }
  }
}