/*----------------------------------------
        Data Tables
------------------------------------------*/
@import 'variables.scss';
@import "__variables__/variables";
// For Styling Of DataTables
.g-data-table {
  .g-data-table_wrapper {
    table {
      width: 100%;
      border-collapse: separate; /* Don't collapse */
      color: black;

      &.g-data-table-content {
        thead {
          th {
            min-width: 69px;
         //   color: color('grey', 'darken-2');

            &.background-image-none {
              background-image: none !important;
            }

            &.select-all {
              background-image: none !important;
            }
          }
        }

        th,
        td {
          padding: 17px 14px;
          border-bottom: 1px solid color("blue-grey", lighten-4);
          font-weight: 300;
          white-space: nowrap;
        }

        tbody {
          height: 300px;
          max-width: 100%;
          overflow: auto;

          th,
          td {
            padding: 8px 14px;
            border: none !important;
            white-space: nowrap;
          }

          // For Toggler

          tr {
            td, th {
              &:before {
                top: 10px;
                left: -3px;
                font-size: 0.9rem;
                height: 12px;
                width: 12px;
                text-indent: 0;
                line-height: 14px;
              }
            }
          }
        }

        tfoot {

          th,
          td {
            border-top: 1px solid color("blue-grey", lighten-4);
            font-weight: 300;
            white-space: nowrap;
          }
        }

        &.stripe,
        &.display {
          tbody {
            tr:nth-child(even) {
              background-color: rgba(0, 0, 0, 0.02);
            }

            tr:hover {
              background: rgba(176, 190, 197, 0.25);
            }
          }
        }
      }
    }
  }
}

.g-data-table__fixed-header {
  .g-data-table_wrapper {
    overflow-y: auto;
    height: 700px;
    table {
      thead {
        tr {
          th {
            background: #ffffff;
            position: sticky;
            top: 0;
            z-index: 2;
          }
        }
      }

      tfoot {
        tr {
          th {
            background: #ffffff;
            position: sticky;
            bottom: 0;
            z-index: 2;
          }
        }
      }

    }
  }
}












