@import "../../style/elevation";

.g-textarea {
  textarea {
    flex: 1 1 auto;
    line-height: 22px;
    max-width: 100%;
    min-height: 32px;
    outline: none;
    padding: 7px 0 8px;
    width: 100%;
    resize: vertical;
    // inherit from input
    border: none;
    font-family: "Muli", sans-serif;
  }

  &__auto-grow {
    textarea {
      overflow: hidden;
    }
  }

  &__no-resize {
    textarea {
      resize: none;
    }
  }

  .tf-append__inner,
  .tf-append__outer,
  .tf-prepend__inner,
  .tf-append__outer{
    align-items: baseline;
  }
}
