@import "../../style/elevation";

.g-textarea {
  textarea {
    flex: 1 1 auto;
    line-height: 22px;
    max-width: 100%;
    min-height: 32px;
    outline: none;
    padding: 7px 0 8px;
    width: 100%;
    resize: vertical;
    // inherit from input
    border: none;
    font-family: "Muli", sans-serif;
  }

  &__auto-grow {
    textarea {
      overflow: hidden;
    }
  }

  &__no-resize {
    textarea {
      resize: none;
    }
  }

  .g-tf-append__inner,
  .g-tf-prepend__inner,
  .g-tf-append__outer,
  .g-tf-prepend__outer{
    align-self: baseline;
    padding-top: 4px;
  }

  .g-tf-input:focus + .g-tf-label,
  .g-tf-input:placeholder-shown + .g-tf-label {
    transform: translateY(-20px) translateX(0px) scale(0.75);
    color: #1867c0;
  }

  .g-tf-label__active {
    transform: translateY(-20px) scale(0.75);
    background-color: transparent;
  }
}
