// @import '../../styles/styles.sass'

$year-picker-height: 298px;

.g-date-picker-years {
  font-size: 16px;
  font-weight: 400;
  height: $year-picker-height;
  list-style-type: none;
  overflow: auto;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  li {
    cursor: pointer;
    padding: 8px 0;
    transition: none;
    width: 100%;
    display: inline-block;

    &.active {
      font-size: 26px;
      font-weight: 500;
      padding: 10px 0;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.12);
    }
  }
}
