.g-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-top: 8px;

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__one-line {
      padding: 0px;

      .icon {
        width: 24px;
        height: 24px;
        margin: 16px;
      }

      .text {

      }
    }
  }
}
