.g-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding: 8px 0;
  color: rgba(0, 0, 0, 0.87);
  overflow: auto;

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 16px;
    min-height: 48px;
    flex-shrink: 0;

    &:hover {
      background-color: rgba(211, 211, 211, 0.41);
    }
    &:focus {
      background-color: rgba(211, 211, 211, 0.46);
      outline: none;
    }
    &__active{
      background-color: rgb(226, 236, 248);
      color: rgb(24, 103, 192);
      &:hover{
        background-color: rgb(226, 236, 248);
      }
    }
    &-icon {
      width: 24px;
      height: 24px;
      margin: 16px;
      flex-shrink: 0;

      > img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }

    &-action {
      margin: 12px 0 12px 16px;
      flex-shrink: 0;

      > img {
        width: 24px;
        height: 24px;
      }
    }

    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 8px 0 8px 16px;
      flex-shrink: 0;
      >img{
        border-radius: 50%;
      }

    }

    &-img {
      width: 56px;
      height: 56px;
      margin: 8px 0 8px 16px;
      flex-shrink: 0;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    &-img__big {
      width: 100px;
      height: 56px;
      margin: 8px 0;
      flex-shrink: 0;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    &-content {
      display: flex;
      font-weight: 400;
      margin-right: auto;
      margin-left: 16px;
      overflow: hidden;
      flex: 1 1;
      flex-wrap: wrap;
      align-items: center;
    }

    &-text {
      font-size: 16px;
      line-height: 1.75;
      flex: 1 1 100%;
      white-space: nowrap;

      &__sub {
        font-size: 12px;
        line-height: 1.6667;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex: 1 1 100%;
      }
    }

    &__disabled {
      pointer-events: none;
    }

    &__selectable {
      user-select: auto;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
  }

  .g-divider {
    margin: 0;

    &__inset {
      margin: 0 72px;
      width: calc(100% - 16px - 16px);
    }
  }

  &__disabled {
    pointer-events: none;
  }

  &__shaped {
    .g-list-item {
      &:hover, &:focus, &__active {
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
      }
    }


  }

  &__rounded {
    .g-list-item {
      padding: 0 16px;
      &:hover, &:focus{
        border-radius: 9999px;
      }
      &__active{
        border-radius: 9999px;
        background-color: rgba(60, 211, 255, 0.53);
      }
    }
  }

  &__dense {
    .g-list-header {
      padding: 0 8px;
    }

    .g-list-item-text {
      font-size: 14px;

      &__sub {
        font-size: 10px;
      }
    }
  }
  &__empty{
    padding: 0
  }
}

.g-list__two-line .g-list-item,
.g-list-item__two-line {
  min-height: 64px;

  .g-list-item-avatar {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .g-list-item-icon {
    align-self: flex-start;
  }

  .g-list-item-img {
    width: 40px;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.g-list__three-line .g-list-item,
.g-list-item__three-line {
  min-height: 88px;

  .g-list-item-avatar {
    align-self: flex-start;
  }

  .g-list-item-icon {
    align-self: flex-start;
  }

  .g-list-item-action {
    align-self: flex-start;
    margin-top: 16px;
  }

  .g-list-item-img {
    width: 40px;
    height: 40px;
    align-self: flex-start;
    margin-top: 16px;
  }

  .g-list-item-img__big {
    margin: 16px 4px 16px 0;
  }

  .g-list-item-text__sub {
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .g-divider__inset {
    margin-left: 72px;
    width: calc(100% - 72px - 16px);
  }
}

.g-list-item__three-line + .g-divider__inset {
  margin-left: 72px;
  width: calc(100% - 72px - 16px);
}

.g-list__nav {
  .g-list-item {
    padding: 0 8px;
    background-clip: content-box;

    &-icon,
    &-avatar,
    &-img {
      margin-left: 8px;
    }

    &-action {
      margin-right: 8px;
    }
  }
}
